{block content}

<div class="foreigner">
	Foreigner?<br><a n:href="Cizinci:default"><strong>CLICK HERE</strong></a>
</div>

<h1 class="hidden">Superagentura ČSOB</h1>

<div class="container portraits">
    <div class="grid_20">
        <ul class="photos">
            <li>
                <div class="overlay hidden text-center">
                    <h2>
                        <span class="heading first">ČSOB pojišťovna</span> <br>
                        <span class="subheading first">Regionální ředitelství Praha II</span>
                    </h2>
                    <a n:href="ONas:default" class="more">Více o nás</a> <br>
                    <ul class="more">
                        <li><a n:href="Kontakt:default">Chci kontakt</a></li>
                        <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
                        <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
                        <li><a n:href="Produkty:default">Chci info o produktech</a></li>
                    </ul>
                </div>
                <img src="static/img/portrait-csob.png" alt="" class="portrait">
            </li>
            <li>
                <div class="overlay hidden">
                    <h2 class="person">
                        <span class="heading">{$choosed[0]->firstname}</span> <br>
                        <span class="subheading">{$choosed[0]->lastname}</span>
                    </h2>
                    <a n:href="Profil:default, $choosed[0]->slug" class="more">Více o {$choosed[0]->sestypad}</a> <br>
                    <ul class="more">
                        <li><a n:href="Kontakt:default">Chci kontakt</a></li>
                        <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
                        <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
                        <li><a n:href="Produkty:default">Chci info o produktech</a></li>
                    </ul>
                </div>
                <img src="{$basePath}/static/img/photos/thumbnail/{$choosed[0]->photo}" alt="" class="portrait">
            </li>
            <li>
                <div class="overlay hidden">
                    <h2 class="person">
                        <span class="heading">{$choosed[1]->firstname}</span> <br>
                        <span class="subheading">{$choosed[1]->lastname}</span>
                    </h2>
                    <a n:href="Profil:default, $choosed[1]->slug" class="more">Více o {$choosed[1]->sestypad}</a> <br>
                    <ul class="more">
                        <li><a n:href="Kontakt:default">Chci kontakt</a></li>
                        <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
                        <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
                        <li><a n:href="Produkty:default">Chci info o produktech</a></li>
                    </ul>
                </div>
                <img src="{$basePath}/static/img/photos/thumbnail/{$choosed[1]->photo}" alt="" class="portrait">
            </li>
        </ul>
        <ul class="photos">
            <li>
                <div class="overlay hidden">
                    <h2 class="person">
                        <span class="heading">{$choosed[2]->firstname}</span> <br>
                        <span class="subheading">{$choosed[2]->lastname}</span>
                    </h2>
                    <a n:href="Profil:default, $choosed[2]->slug" class="more">Více o {$choosed[2]->sestypad}</a> <br>
                    <ul class="more">
                        <li><a n:href="Kontakt:default">Chci kontakt</a></li>
                        <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
                        <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
                        <li><a n:href="Produkty:default">Chci info o produktech</a></li>
                    </ul>
                </div>
                <img src="{$basePath}/static/img/photos/thumbnail/{$choosed[2]->photo}" alt="" class="portrait">
            </li>
            <li>
                <div class="overlay hidden">
                    <h2 class="person">
                        <span class="heading">{$choosed[3]->firstname}</span> <br>
                        <span class="subheading">{$choosed[3]->lastname}</span>
                    </h2>
                    <a n:href="Profil:default, $choosed[3]->slug" class="more">Více o {$choosed[3]->sestypad}</a> <br>
                    <ul class="more">
                        <li><a n:href="Kontakt:default">Chci kontakt</a></li>
                        <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
                        <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
                        <li><a n:href="Produkty:default">Chci info o produktech</a></li>
                    </ul>
                </div>
                <img src="{$basePath}/static/img/photos/thumbnail/{$choosed[3]->photo}" alt="" class="portrait">
            </li>
            <li>
                <div class="overlay no-style">
                    <span class="wanna-be">Chceš být</span><br>
                    <span class="one-of-us">Jeden<br>z nás?</span><br>
                    <span class="link">
                        <a class="carrier" n:href="Kariera:default">Kariéra</a>
                    </span>
                </div>
                <img src="static/img/portrait-last.png" alt="" class="portrait last">
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>
