{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Správa aktualit</h2>
    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a n:href="Aktuality:vytvoritAktualitu" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i> Vytvořit novou aktualitu</a>
                <div class="widget wred">
                    <div class="widget-head">
                      <div class="pull-left">Aktuality</div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th><strong>Titulek</strong></th>
                                  <th><strong>Datum</strong></th>
                                  <th><strong>Tagy</strong></th>
                                  <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr n:foreach="$actualities as $actuality">
                                    <td>{$actuality->title}</td>
                                    <td>{$actuality->date}</td>
                                    <td>
                                        {foreach $actuality->tags as $tag}
                                            {$tag->name}{if !$iterator->isLast()},{/if}
                                        {/foreach}
                                    </td>
                                    <td>
                                        <a class="btn btn-mini btn-warning" n:href="Aktuality:upravit, $actuality->id">Upravit</a>
                                        <a class="btn btn-mini btn-danger" n:href="odstranit!, $actuality->id">Odstranit</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>