{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Upravení aktuality <small>{$actuality->title}</small></h2>
    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wgreen">
                    <div class="widget-head">
                        <div class="pull-left">{$actuality->title}</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            {form updateActuality, class => form-horizontal}
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{label title}{/label}</label>
                                    <div class="col-md-6">
                                        {input title, class => form-control}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{label tags}{/label}</label>

                                    <div class="col-md-6">
                                        {input tags, class => form-control}
                                    </div>
                                </div>
                                <div class="form-group" n:if="$actuality->tags">
                                    <div class="col-md-push-2 col-md-6">
                                        <div style="position: relative; top: -15px">
                                            <strong>Přiřazené tagy: &nbsp;</strong>
                                            <span n:foreach="$actuality->tags as $tag">
                                                {$tag->name}
                                                <a n:href="odstranitTag!, actuality => $actuality->id, tag => $tag->id">
                                                    &nbsp; <i class="fa fa-trash-o"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{label date}{/label}</label>
                                    <div class="col-md-6">
                                        {input date, class => form-control}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{label perex}{/label}</label>
                                    <div class="col-md-10">
                                        {input perex, class => 'form-control ckeditor'}
                                    </div>
                                </div>
                                {*<div class="form-group">
                                    <label class="col-md-2 control-label">{label text}{/label}</label>
                                    <div class="col-md-10">
                                        {input text, class => 'form-control ckeditor'}
                                    </div>
                                </div>*}
                                <div class="form-group" id="photos">
                                    <label class="col-md-2 control-label">Fotografie</label>
                                    <div class="col-md-3">
                                        {for $i = 1; $i < 5; $i++}
                                            {input photo$i}
                                        {/for}
                                    </div>
                                    <div class="col-md-3">
                                        {for $i = 5; $i < 9; $i++}
                                            {input photo$i, class=>hidden}
                                        {/for}
                                    </div>
                                    <div class="col-md-3">
                                        {for $i = 9; $i < 13; $i++}
                                            {input photo$i, class=>hidden}
                                        {/for}
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-10 col-md-push-2">
                                        <hr>
                                    </div>
                                    {*<div class="col-md-3 col-md-push-2">
                                        {for $i = 13; $i < 17; $i++}
                                            {input photo$i, class=>hidden}
                                        {/for}
                                    </div>
                                    <div class="col-md-3 col-md-push-2">
                                        {for $i = 17; $i < 21; $i++}
                                            {input photo$i, class=>hidden}
                                        {/for}
                                    </div>
                                    <div class="col-md-3 col-md-push-2">
                                        {for $i = 21; $i < 25; $i++}
                                            {input photo$i, class=>hidden}
                                        {/for}
                                    </div>*}

                                    <div class="col-md-push-2 col-md-10">
                                        <a href="javascript:;" onclick="addPhoto();" id="moreButton" class="btn pull-right btn-default btn-mini">Více fotografií</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        {input send, class => "btn btn-success"}
                                    </div>
                                </div>
                            {/form}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget wred">
                    <div class="widget-head">
                        <div class="pull-left">Přiřazené fotografie</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <table class="table table-bordered" n:if="$actuality->photos">
                                <tr n:foreach="$actuality->photos as $photo">
                                    <td style="width: 500px">
                                        <img width="500" src="{$basePath}/static/img/udalosti/upload/{$photo->name}">
                                    </td>
                                    <td>
                                        <a class="btn btn-mini btn-danger" n:href="odstranitFotografii!, actuality => $actuality->id, photo => $photo->id">
                                            Odstranit fotografii
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <p n:if="!$actuality->photos">
                                Aktualita nemá žádné fotografie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {*<div class="col-md-6">
                <div class="widget wred">
                    <div class="widget-head">
                        <div class="pull-left">Přiřazené tagy</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <table class="table table-bordered">
                                <tr n:foreach="$actuality->tags as $tag">
                                    <td>{$tag->name}</td>
                                    <td>
                                        <a class="btn btn-mini btn-danger" n:href="odstranitTag!, actuality => $actuality->id, tag => $tag->id">
                                            Odstranit tag
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>*}
        </div>
    </div>
</div>

<script type="text/javascript">
    function addPhoto()
    {
        $('#photos').find('input.hidden').removeClass('hidden');
        $('#moreButton').fadeOut(100);
    }
</script>