{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Nová aktualita</h2>
    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wgreen">
                    <div class="widget-head">
                        <div class="pull-left">Nová aktualita</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            {form createActuality, class => form-horizontal}
                            <div class="form-group">
                                <label class="col-md-2 control-label">{label title}{/label}</label>
                                <div class="col-md-6">
                                    {input title, class => form-control}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{label tags}{/label}</label>

                                <div class="col-md-6">
                                    {input tags, class => form-control}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{label date}{/label}</label>
                                <div class="col-md-6">
                                    {input date, class => form-control}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{label perex}{/label}</label>
                                <div class="col-md-10">
                                    {input perex, class => 'form-control ckeditor'}
                                </div>
                            </div>
                            {*<div class="form-group">
                                <label class="col-md-2 control-label">{label text}{/label}</label>
                                <div class="col-md-10">
                                    {input text, class => 'form-control ckeditor'}
                                </div>
                            </div>*}
                            <div class="form-group" id="photos">
                                <label class="col-md-2 control-label">Fotografie</label>
                                <div class="col-md-3">
                                    {for $i = 1; $i < 5; $i++}
                                        {input photo$i}
                                    {/for}
                                </div>
                                <div class="col-md-3">
                                    {for $i = 5; $i < 9; $i++}
                                        {input photo$i, class=>hidden}
                                    {/for}
                                </div>
                                <div class="col-md-3">
                                    {for $i = 9; $i < 13; $i++}
                                        {input photo$i, class=>hidden}
                                    {/for}
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-10 col-md-push-2">
                                    <hr>
                                </div>
                                {*<div class="col-md-3 col-md-push-2">
                                    {for $i = 13; $i < 17; $i++}
                                        {input photo$i, class=>hidden}
                                    {/for}
                                </div>
                                <div class="col-md-3 col-md-push-2">
                                    {for $i = 17; $i < 21; $i++}
                                        {input photo$i, class=>hidden}
                                    {/for}
                                </div>
                                <div class="col-md-3 col-md-push-2">
                                    {for $i = 21; $i < 25; $i++}
                                        {input photo$i, class=>hidden}
                                    {/for}
                                </div>*}

                                <div class="col-md-push-2 col-md-10">
                                    <a href="javascript:;" onclick="addPhoto();" id="moreButton" class="btn pull-right btn-default btn-mini">Více fotografií</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    {input send, class => "btn btn-success"}
                                </div>
                            </div>
                            {/form}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function addPhoto()
    {
        $('#photos').find('input.hidden').removeClass('hidden');
        $('#moreButton').fadeOut(100);
    }
</script>