{form form, class => form-horizontal}
    {input city}
    <div class="col-md-12">
        <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
            {$error}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{label name}{/label}</label>
        <div class="col-md-6">
            <input n:name="name" class="form-control" placeholder="Štěpánská">
            <p class="help-block">Bude zobrazeno v pavouku</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{label telephone}{/label}</label>
        <div class="col-md-6">
            <input n:name="telephone" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{label mobile}{/label}</label>
        <div class="col-md-6">
            <input n:name="mobile" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{label address}{/label}</label>
        <div class="col-md-6">
            <textarea n:name="address" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{label openTime}{/label}</label>
        <div class="col-md-6">
            <textarea n:name="openTime" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group" id="photos">
        <label class="col-md-2 control-label">Fotografie pobočky</label>
        <div class="col-md-3">
            {for $i = 1; $i < 5; $i++}
                {input photo$i}
            {/for}
        </div>
        <div class="col-md-3">
            {for $i = 5; $i < 9; $i++}
                {input photo$i, class=>hidden}
            {/for}
        </div>
        <div class="col-md-3">
            {for $i = 9; $i < 13; $i++}
                {input photo$i, class=>hidden}
            {/for}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-10 col-md-push-2">
            <hr>
        </div>
        <div class="col-md-push-2 col-md-10">
            <a href="javascript:;" onclick="addPhoto();" id="moreButton" class="btn pull-right btn-default btn-mini">Více fotografií</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-push-2 col-md-8">
            {input send, class => 'btn btn-success'}
            <a href="{plink Pobocky:default}" class="btn btn-default">Zpět</a>
        </div>
    </div>
{/form}

<script type="text/javascript">
    function addPhoto()
    {
        $('#photos').find('input.hidden').removeClass('hidden');
        $('#moreButton').fadeOut(100);
    }
</script>