{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Nastavení</h2>

    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget wgreen">
                    <div class="widget-head">
                        <div class="pull-left">Změna heslo</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            {form changePasswordForm, class => form-horizontal}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Staré heslo</label>

                                    <div class="col-md-8">
                                        {input old, class => form-control}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nové heslo</label>

                                    <div class="col-md-8">
                                        {input new, class => form-control}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-8">
                                        {input send, class => 'btn btn-success'}
                                    </div>
                                </div>
                            {/form}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
