<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Title here -->
		<title>Přihlášení</title>
		<!-- Description, Keywords and Author -->
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="{$basePath}/static/admin/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="{$basePath}/static/admin/css/style.css" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	
	<body>
		<style type="text/css">
			#tracy-debug-bar { display:none; }
		</style>
		<!-- Form area -->
		<div class="admin-form">
			<!-- Widget starts -->
			<div class="widget worange">
				<!-- Widget head -->
				<div class="widget-head">
				    Přihlášení
				</div>

				<div class="widget-content">
                    <!-- Login form -->
                    {form signInForm, class => 'form-horizontal'}

                    {*Form errors*}
                    {if $form->getErrors()}
                        <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
                            {$error}
                        </div>
                    {/if}
					<div class="padd">
							<!-- Email -->
							<div class="form-group">
								  <label class="control-label col-lg-3" for="inputEmail">Email</label>
								  <div class="col-lg-9">
									{input email, class => 'form-control'}
								  </div>
							</div>
							<!-- Password -->
							<div class="form-group">
								  <label class="control-label col-lg-3" for="inputPassword">Password</label>
								  <div class="col-lg-9">
									{input password, class => 'form-control'}
								  </div>
							</div>
							<!-- Remember me checkbox and sign in button -->
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									{input send, class => 'btn btn-danger'}
								</div>
							</div>
						<div class="clearfix"></div>
					</div>
                    {/form}
				</div>
			</div>  
		</div>
	</body>
</html>