{form form, class => form-horizontal}
    <div class="col-md-12">
        <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
            {$error}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{label name}{/label}</label>
        <div class="col-md-6">
            <input n:name="name" class="form-control" placeholder="Praha">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-push-2 col-md-8">
            {input send, class => 'btn btn-success'}
            <a href="{plink Pobocky:default}" class="btn btn-default">Zpět</a>
        </div>
    </div>
{/form}