/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 1200px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19,
.push_20, .pull_20 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container .grid_1 {
	width:40px;
}

.container .grid_2 {
	width:100px;
}

.container .grid_3 {
	width:160px;
}

.container .grid_4 {
	width:220px;
}

.container .grid_5 {
	width:280px;
}

.container .grid_6 {
	width:340px;
}

.container .grid_7 {
	width:400px;
}

.container .grid_8 {
	width:460px;
}

.container .grid_9 {
	width:520px;
}

.container .grid_10 {
	width:580px;
}

.container .grid_11 {
	width:640px;
}

.container .grid_12 {
	width:700px;
}

.container .grid_13 {
	width:760px;
}

.container .grid_14 {
	width:820px;
}

.container .grid_15 {
	width:880px;
}

.container .grid_16 {
	width:940px;
}

.container .grid_17 {
	width:1000px;
}

.container .grid_18 {
	width:1060px;
}

.container .grid_19 {
	width:1120px;
}

.container .grid_20 {
	width:1180px;
}




/* Prefix Extra Space >> 20 Columns
----------------------------------------------------------------------------------------------------*/

.container .prefix_0 {
	padding-left: 30px;
}

.container .prefix_1 {
	padding-left:60px;
}

.container .prefix_1_5 {
	padding-left: 90px;
}

.container .prefix_2 {
	padding-left:120px;
}

.container .prefix_3 {
	padding-left:180px;
}

.container .prefix_4 {
	padding-left:240px;
}

.container .prefix_5 {
	padding-left:300px;
}

.container .prefix_6 {
	padding-left:360px;
}

.container .prefix_7 {
	padding-left:420px;
}

.container .prefix_8 {
	padding-left:480px;
}

.container .prefix_9 {
	padding-left:540px;
}

.container .prefix_10 {
	padding-left:600px;
}

.container .prefix_11 {
	padding-left:660px;
}

.container .prefix_12 {
	padding-left:720px;
}

.container .prefix_13 {
	padding-left:780px;
}

.container .prefix_14 {
	padding-left:840px;
}

.container .prefix_15 {
	padding-left:900px;
}

.container .prefix_16 {
	padding-left:960px;
}

.container .prefix_17 {
	padding-left:1020px;
}

.container .prefix_18 {
	padding-left:1080px;
}

.container .prefix_19 {
	padding-left:1140px;
}



/* Suffix Extra Space >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container .suffix_1 {
	padding-right:60px;
}

.container .suffix_2 {
	padding-right:120px;
}

.container .suffix_3 {
	padding-right:180px;
}

.container .suffix_4 {
	padding-right:240px;
}

.container .suffix_5 {
	padding-right:300px;
}

.container .suffix_6 {
	padding-right:360px;
}

.container .suffix_7 {
	padding-right:420px;
}

.container .suffix_8 {
	padding-right:480px;
}

.container .suffix_9 {
	padding-right:540px;
}

.container .suffix_10 {
	padding-right:600px;
}

.container .suffix_11 {
	padding-right:660px;
}

.container .suffix_12 {
	padding-right:720px;
}

.container .suffix_13 {
	padding-right:780px;
}

.container .suffix_14 {
	padding-right:840px;
}

.container .suffix_15 {
	padding-right:900px;
}

.container .suffix_16 {
	padding-right:960px;
}

.container .suffix_17 {
	padding-right:1020px;
}

.container .suffix_18 {
	padding-right:1080px;
}

.container .suffix_19 {
	padding-right:1140px;
}



/* Push Space >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container .push_1 {
	left:60px;
}

.container .push_2 {
	left:120px;
}

.container .push_3 {
	left:180px;
}

.container .push_4 {
	left:240px;
}

.container .push_5 {
	left:300px;
}

.container .push_6 {
	left:360px;
}

.container .push_7 {
	left:420px;
}

.container .push_8 {
	left:480px;
}

.container .push_9 {
	left:540px;
}

.container .push_10 {
	left:600px;
}

.container .push_11 {
	left:660px;
}

.container .push_12 {
	left:720px;
}

.container .push_13 {
	left:780px;
}

.container .push_14 {
	left:840px;
}

.container .push_15 {
	left:900px;
}

.container .push_16 {
	left:960px;
}

.container .push_17 {
	left:1020px;
}

.container .push_18 {
	left:1080px;
}

.container .push_19 {
	left:1140px;
}



/* Pull Space >> 20 Columns
----------------------------------------------------------------------------------------------------*/


.container .pull_1 {
	left:-60px;
}

.container .pull_2 {
	left:-120px;
}

.container .pull_3 {
	left:-180px;
}

.container .pull_4 {
	left:-240px;
}

.container .pull_5 {
	left:-300px;
}

.container .pull_6 {
	left:-360px;
}

.container .pull_7 {
	left:-420px;
}

.container .pull_8 {
	left:-480px;
}

.container .pull_9 {
	left:-540px;
}

.container .pull_10 {
	left:-600px;
}

.container .pull_11 {
	left:-660px;
}

.container .pull_12 {
	left:-720px;
}

.container .pull_13 {
	left:-780px;
}

.container .pull_14 {
	left:-840px;
}

.container .pull_15 {
	left:-900px;
}

.container .pull_16 {
	left:-960px;
}

.container .pull_17 {
	left:-1020px;
}

.container .pull_18 {
	left:-1080px;
}

.container .pull_19 {
	left:-1140px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}
