{block content}
<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<div class="container products">
    <div class="prefix_2 grid_17 suffix_1">
        <h1>
            <span class="small">ČSOB pojišťovna je</span><br>
            <span class="big">univerzální pojišťovna,</span>
        </h1>
        <p>
            která nabízí ucelené pojišťovací služby občanům a živnostníkům stejně jako malým a středním podnikům i velkým korporacím. Všem svým klientům je připravena poskytnout služby evropské kvality v oblasti životního i neživotního pojištění. Stabilní zázemí Skupiny ČSOB a silného nadnárodního akcionáře KBC navíc umožňuje klientům ČSOB Pojišťovny získat za výhodných podmínek komplexní ošetření svých finančních potřeb.
        </p>
    </div>

    <div class="prefix_1 grid_19">
        <hr>
        <div class="grid_6">
            <h2>
                <span class="small">Pojištění</span><br>
                <span class="big">Vozidel a řidičů</span>
            </h2>
        </div>

        <div class="prefix_1 grid_11">
            <p>
                Pokud se vám na vašich cestách něco přihodí, postaráme se o vás i o vaše auto. Zajistíme odtažení vozu do servisu, poskytneme náhradní vůz a zaplatíme opravu.
            </p>
            <p>
                Pojištění Naše auto vám umožní sjednat si povinné ručení nebo havarijní pojištění a zároveň si své auto pojistit proti odcizení, živlům nebo vandalismu.
            </p>
            <p>
                Pro řidiče nabízíme pojištění Rento, které řidiči zajistí doživotní rentu, pokud by se na svých cestách vážně zranil.
                <a href="http://www.csobpoj.cz/cs/produkty/pojisteni-vozidel/Stranky/pojisteni-vozidel.aspx" class="more-info">Více informací.</a>
            </p>
            <a n:href="Kontakt:default" class="profile">Mám zájem o produkt</a>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="prefix_1 grid_19">
        <hr>
        <div class="grid_6">
            <h2>
                <span class="big">Cestovní</span>
                <span class="small">Pojištění</span>
            </h2>
        </div>

        <div class="prefix_1 grid_11">
            <p>
                Pokud se chystáte do zahraničí, určitě si sjednejte cestovní pojištění. Ať už plánujete sportovat či nikoliv, cestovní pojištění vám v případě vzniku úrazů nebo akutních onemocnění nabízí finanční zajištění a řadu dalších služeb, které v těchto nepříjemných situacích určitě oceníte.
                <a href="http://www.csobpoj.cz/cs/produkty/cestovni-pojisteni/Stranky/cestovni-pojisteni.aspx" class="more-info">Více informací.</a>
            </p>
            <a n:href="Kontakt:default" class="profile">Mám zájem o produkt</a>
        </div>

        <div class="clearfix"></div>
        <hr>
    </div>

    <div class="prefix_1 grid_19">
        <div class="grid_6">
            <h2>
                <span class="small">Pojištění</span><br>
                <span class="big">Majetku</span>
            </h2>
        </div>

        <div class="prefix_1 grid_11">
            <p>
                V případě, že se vám něco přihodí, poskytneme vám finanční prostředky na opravu bydlení nebo na pořízení nové věci. Pokud bude vaše domácnost neobyvatelná, uhradíme i náhradní ubytování.
            </p>
            <p>
                V rámci bydlení si můžete pojistit dům, byt, chatu, vybavení domácnosti, garáž, zahradu nebo třeba bazén.
                <a href="http://www.csobpoj.cz/cs/produkty/pojisteni-majetku-a-odpovednosti/Stranky/pojisteni-majetku-a-odpovednosti.aspx" class="more-info">Více informací.</a>
            </p>
            <a n:href="Kontakt:default" class="profile">Mám zájem o produkt</a>
        </div>

        <div class="clearfix"></div>
        <hr>
    </div>

    <div class="prefix_1 grid_19">
        <div class="grid_6">
            <h2>
                <span class="big">Životní a úrazové</span>
                <span class="small">Pojištění</span>
            </h2>
        </div>

        <div class="prefix_1 grid_11">
            <p>
                Životní pojištění zajistí vás a vaši rodinu pro případ nepříznivých životních událostí. Jednou smlouvou můžete pojistit sebe a všechny své blízké. S životním pojištěním máte možnost zhodnotit své úspory a snížit si daňový základ.
                <a href="http://www.csobpoj.cz/cs/produkty/zivotni-pojisteni/Stranky/zivotni-pojisteni.aspx" class="more-info">Více informací.</a>
            </p>
            <a n:href="Kontakt:default" class="profile">Mám zájem o produkt</a>
        </div>

        <div class="clearfix"></div>
        <hr>
    </div>

    <div class="prefix_1 grid_19">
        <div class="grid_6">
            <h2>
                <span class="small">Pojištění</span><br>
                <span class="big">Best Doctors</span>
            </h2>
        </div>

        <div class="prefix_1 grid_11">
            <p>
                Nabízíme Vám unikátní pojištění, které sdružuje nejlepší lékařské specialisty světa. Produkt samotný umožňuje u nejzávažnějších diagnóz typu rakovina či transplantace orgánů získat buď tzv. druhý názor, tedy potvrzení či doplnění, zda navržená léčba je v pořádku, nebo možnost léčit se v nejprestižnějších světových medicínských zařízeních.
                <a href="http://www.csobpoj.cz/cs/produkty/zivotni-pojisteni/Stranky/Best-Doctors.aspx" class="more-info">Více informací.</a>
            </p>
            <a n:href="Kontakt:default" class="profile">Mám zájem o produkt</a>
        </div>

        <div class="clearfix"></div>
        <hr>
    </div>

    <div class="prefix_1 grid_19">
        <div class="grid_6">
            <h2>
                <span class="small">Pojištění</span><br>
                <span class="big">pro firmy</span>
            </h2>
        </div>

        <div class="prefix_1 grid_11">
            <p>
                Pojištění vám zajistí rychlou finanční pomoc za nepříznivých situací při podnikání a umožní vám nadále podnikat.
                <a href="http://www.csobpoj.cz/cs/produkty/pojisteni-pro-firmy/Stranky/pojisteni-pro-firmy.aspx" class="more-info">Více informací.</a>
            </p>
            <a n:href="Kontakt:default" class="profile">Mám zájem o produkt</a>
        </div>

        <div class="clearfix"></div>
        <hr>
    </div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">Co vás ještě</span>&nbsp;&nbsp;
        <span class="big">zajímá?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>