{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Správa poboček</h2>

    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a n:href="Pobocky:pridatMesto" class="btn btn-success btn-sm">
                    <i class="fa fa-plus-circle"></i>
                    Přidat nové město
                </a>
                <div class="widget wred">
                    <div class="widget-head">
                        <div class="pull-left">Města</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <tbody>
                                <tr n:foreach="$cities as $city">
                                    <td>
                                        <strong>{$city->name}</strong>
                                    </td>
                                    <td>
                                        <a n:href="PridatPobocku, $city->id" class="btn btn-default btn-mini">
                                            <i class="fa fa-plus"></i>
                                            Přidat pobočku k městu
                                        </a>
                                        <div n:if="$city->offices" style="font-size: 11px">
                                            <hr>
                                            <strong>Přiřazené pobočky:</strong>
                                            <table class="table table-bordered">
                                                <tr n:foreach="$city->offices as $office">
                                                    <td>{$office->name}</td>
                                                    <td>
                                                        <a n:href="UpravitPobocku, $office->id" class="text-info">
                                                            <i class="fa fa-pencil"></i>
                                                            Upravit
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <a n:href="odstranitPobocku!, $office->id" class="text-danger">
                                                            <i class="fa fa-trash-o"></i>
                                                            Odstranit
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td style="width: 300px">
                                        <a n:href="UpravitMesto, $city->id" class="text-info">
                                            <i class="fa fa-pencil"></i>
                                            Upravit
                                        </a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a n:href="odstranitMesto!, $city->id" class="text-danger">
                                            <i class="fa fa-trash-o"></i>
                                            Odstranit
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>