{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Nové město</h2>
    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wgreen">
                    <div class="widget-head">
                        <div class="pull-left">Město</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            {control cityForm}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>