{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Upravení pobočky</h2>
    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wgreen">
                    <div class="widget-head">
                        <div class="pull-left">Pobočka</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            {control updateOfficeForm}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget wred">
                    <div class="widget-head">
                        <div class="pull-left">Přiřazené fotografie</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <table class="table table-bordered" n:if="$office->photos">
                                <tr n:foreach="$office->photos as $photo">
                                    <td style="width: 400px">
                                        <img width="400" src="{$basePath}/static/img/pobocky/{$photo->name}">
                                    </td>
                                    <td>
                                        <a class="btn btn-mini btn-danger" n:href="odstranitFotografii!, office => $office->id, photo => $photo->id">
                                            Odstranit fotografii
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <p n:if="!$office->photos">
                                Aktualita nemá žádné fotografie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>