{block content}
<div class="page-head">
    <!-- Page heading -->
    <h2 class="pull-left">Statement
        <!-- page meta -->
        <span class="page-meta">Something Goes Here</span>
    </h2>
    <div class="clearfix"></div>
</div>