div.news .padding {
  padding-top: 30px;
}
div.news img.thumbnail {
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
div.news span.date {
  color: #676767;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 9px;
  border-bottom: 1px solid #676767;
}
div.news a {
  font-family: 'VerbBlack';
  text-decoration: none;
}
div.news a h3 {
  text-transform: uppercase;
  color: #003466;
  letter-spacing: 4px;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 15px;
}
div.news a.photo-gallery {
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 3px;
  font-size: 14px;
  color: #0099cb;
}
div.news div.divider {
  display: inline;
  float: left;
  position: relative;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 720px;
}
div.hierarchy div.grid_2 {
  padding-left: 12px;
}
div.hierarchy div.grid_1 {
  padding-right: 40px;
}
div.hierarchy div.photo {
  display: inline;
  float: left;
  position: relative;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}
div.hierarchy div.photo.one {
  margin-left: 65px;
}
div.hierarchy div.photo.extented {
  background: transparent url('../img/rounded.png') center bottom no-repeat;
  height: 170px;
}
div.hierarchy div.photo.extented.active {
  background: transparent url('../img/rounded-active.png') center bottom no-repeat;
  height: 198px;
}
div.hierarchy img.portrait {
  margin-bottom: 17px;
  position: static;
  top: 0;
}
div.hierarchy img.portrait.small {
  margin-bottom: 10px;
  height: 88px;
  width: 88px;
}
div.hierarchy span.person-name {
  position: static;
  line-height: 17px;
}
div.hierarchy h3.position {
  color: #3f3f3f;
  font-family: "VerbExtraLight-Italic";
  font-size: 20px;
  letter-spacing: 2px;
  height: 35px;
}
div.hierarchy h3.position.head {
  height: 25px;
}
