div.news {
	
	.padding {
		padding-top: 30px;
	}

	img.thumbnail {
		width: 150px;
		height: 150px;
		margin-top: 50px;
	}

	span.date {
		color: #676767;
		font-family: "Helvetica";
		font-size: 15px;
		font-weight: bold;
		padding-bottom: 9px;
		border-bottom: 1px solid #676767;
	}

	a {
		font-family: 'VerbBlack';
		text-decoration: none;
		
		h3 {
			text-transform: uppercase;
			color: #003466;
			letter-spacing: 4px;
			font-size: 26px;
			margin-top: 15px;
			margin-bottom: 15px;
		}

		&.photo-gallery {
			text-transform: uppercase;
			text-decoration: underline;
			letter-spacing: 3px;
			font-size: 14px;
			color: #0099cb;
		}
	}

	div.divider {
		display: inline;
		float: left;
		position: relative;
		margin-top: 25px;
		margin-left: 50px;
		margin-right: 10px;
		margin-bottom: 20px;
		width: 720px;
	}

}

div.hierarchy {

	div.grid_2 {
		padding-left: 12px;
	}

	div.grid_1 {
		padding-right: 40px;	
	}

	div.photo {
		display: inline;
		float: left;
		position: relative;
		margin-top: 25px;
		margin-left: 10px;
		margin-right: 10px;
		width: 80px;

		&.one {
			margin-left: 65px;
		}

		&.extented {
			background: transparent url('../img/rounded.png') center bottom no-repeat;
			height: 170px;

			&.active {
				background: transparent url('../img/rounded-active.png') center bottom no-repeat;
				height: 198px;
			}
		}
	}

	img.portrait {
		margin-bottom: 17px;
		position: static;
		top: 0;

		&.small {
			margin-bottom: 10px;
			height: 88px;
			width: 88px;
		}
	}

	span.person-name {
		position: static;
		line-height: 17px;
	}

	h3.position {
		color: #3f3f3f;
		font-family: "VerbExtraLight-Italic";
		font-size: 20px;
		letter-spacing: 2px;
		height: 35px;

		&.head {
			height: 25px;
		}
	}
}