div.facts {
	padding-top: 60px;
	margin-top: 60px;
	
	span {
		.h2;
		font-weight: bold;
	}
}

div.text {
	div.bracket {
		text-align: right;
		background: transparent url('../img/bracket.png') center right no-repeat;
		min-height: 77px;
		padding: 0 50px 0 0;

		h3 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-family: 'VerbLight';
			font-size: 18px;
			color: #0099cb;
			line-height: 28px;

			& .big {
				font-family: 'VerbMedium';
				color: #003466;
				font-size: 18px;
				font-weight: bold;
				letter-spacing: 1px;
			}
		}
	}

	div.links {
		ul {
			margin-top: 20px;
			list-style: none;

			li {
				padding: 7px 0 7px 0;
				a {
					color: #0099cb;
					font-family: "Helvetica";
					font-size: 15px;
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}

		span.nothing {
			color: #676767;
			font-family: "Helvetica";
			font-size: 15px;
			position: relative;
			top: 42px;
		}
	}
}

div.heading {
	padding-top: 60px;
	margin-top: 60px;
	background: transparent url('../img/quotes.png') center right no-repeat;
	background-repeat: no-repeat;
	width: 1180px;
	height: 205px;

	&.big-quotes {
		background: transparent url('../img/quotes-big.png') center right no-repeat;
		height: 461px;

		div.fix-heading {
			padding-bottom: 18px;
			padding-top: 18px;
		}
	}

	div.fix-heading {
		padding-bottom: 35px;
	}

	span.heading {
		position: relative;
		top: -40px;
		font-family: 'VerbBlack';
		text-transform: uppercase;
		background-color: #003466;
		letter-spacing: 4px;
		font-size: 40px;
		padding: 15px 20px 15px 20px;
		color: #fff;

		&.client {
			font-size: 60px;
			padding: 5px 10px;
			position: relative;
			top: -60px;
		}

		&.team {
			font-size: 35px;
			letter-spacing: 4px;
			padding: 10px 10px;

			&.small {
				font-size: 20px;
				letter-spacing: 2px;
				position: relative;
				top: -100px;
			}
		}

		&.moral {
			font-size: 35px;
			letter-spacing: 4px;
			padding: 10px 10px;
			position: relative;
			top: -15px;
		}
		
		&.small {
			font-size: 25px;
			letter-spacing: 8px;
			line-height: 45px;

			&.light-blue {
				color: #003466;
				background-color: #0099cb;

				&.white-font {
					color: white;
				}

				&.light {
					font-family: 'VerbLight';
					letter-spacing: 16px;
					font-size: 26px;
					position: relative;
					top: -50px;

					&.team {
						position: relative;
						top: -80px;
						padding: 5px 10px;
						letter-spacing: 20px;
					}
				}
			}
		}

	}
}