div.contact-box {
  margin: 0 0 40px 0;
  padding: 60px 0 60px 0;
  background-color: #003466;
  color: white;
}
div.town {
  padding-top: 20px;
  display: none;
}
div.town.active {
  display: block;
}
div.town h2 {
  font-family: "VerbLight";
  margin-top: 0;
  color: #fff;
  font-size: 39px;
  letter-spacing: 8px;
}
div.town h3 {
  font-family: "VerbLight";
  font-size: 19px;
  letter-spacing: 3px;
  color: #fff;
  margin-bottom: 0;
}
div.town div.persons {
  padding-left: 35px;
}
div.town ul.contact {
  list-style: none;
  margin-top: 0;
}
div.town ul.contact li {
  float: left;
  padding: 0 45px 30px 0;
  text-align: center;
}
div.town ul.contact li img {
  width: 90px;
  height: 90px;
}
div.town ul.contact li span.name {
  line-height: 8px;
  position: relative;
  top: 45px;
}
div.town span.contact-item {
  color: #008ec0;
}
div.town div.divider {
  border-right: 1px solid white;
  padding-bottom: 50px;
}
div.more {
  position: relative;
  top: -39px;
  left: -11px;
}
div.more img.photo {
  width: 180px;
  height: 115px;
}
div.more img.map {
  width: 1001px;
  height: 115px;
}
div.slider ul.towns {
  list-style: none;
}
div.slider ul.towns li {
  text-align: center;
  float: left;
  min-width: 110px;
  background: transparent url('../img/slider-inactive.png') center bottom no-repeat;
  padding: 15px 15px 40px 15px;
}
div.slider ul.towns li a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #003365;
  font-family: "VerbLight";
  font-size: 20px;
}
div.slider ul.towns li a:hover {
  font-family: "VerbBlack";
}
div.slider ul.towns li.active {
  background: transparent url('../img/slider-active.png') center bottom no-repeat;
  padding-bottom: 69px;
}
div.slider ul.towns li.active a {
  font-family: "VerbBlack";
}
