div.contact-box {
	margin: 0 0 40px 0;
	padding: 60px 0 60px 0;
	background-color: #003466;
	color: white;
}

div.town {
	padding-top: 20px;
	display: none;

	&.active {
		display: block;
	}

	h2 {
		font-family: "VerbLight";
		margin-top: 0;
		color: #fff;
		font-size: 39px;
		letter-spacing: 8px;
	}

	h3 {
		font-family: "VerbLight";
		font-size: 19px;
		letter-spacing: 3px;
		color: #fff;
		margin-bottom: 0;
	}

	div.persons {
		padding-left: 35px;
	}

	ul.contact {
		list-style: none;
		margin-top: 0;

		li {
			float: left;
			padding: 0 45px 30px 0;
			text-align: center;

			img {
				width: 90px;
				height: 90px;
			}

			span.name {
				line-height: 8px;
				position: relative;
				top: 45px;
			}
		}
	}

	span.contact-item {
		color: #008ec0;
	}

	div.divider {
		border-right: 1px solid white;
		padding-bottom: 50px;
	}
}

div.more {
	position: relative;
	top: -39px;
	left: -11px;

	img.photo {
		width: 180px;
		height: 115px;
	}

	img.map {
		width: 1001px;
		height: 115px;
	}
}

div.slider {
	ul.towns {
		list-style: none;

		li {
			text-align: center;
			float: left;
			min-width: 110px;
			background: transparent url('../img/slider-inactive.png') center bottom no-repeat;
			padding: 15px 15px 40px 15px;

			a {
				text-decoration: none;
				letter-spacing: 3px;
				color: #003365;
				font-family: "VerbLight";
				font-size: 20px;

				&:hover {
					font-family: "VerbBlack";
				}
			}

			&.active {
				background: transparent url('../img/slider-active.png') center bottom no-repeat;
				padding-bottom: 69px;

				a {
					font-family: "VerbBlack";
				}
			}
		}
	}
}