@font-face {
    font-family: 'VerbBlack';
    src: url('../fonts/VerbBlack/verbblack.eot');
    src: url('../fonts/VerbBlack/verbblack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbBlack/verbblack.woff') format('woff'),
         url('../fonts/VerbBlack/verbblack.ttf') format('truetype'),
         url('../fonts/VerbBlack/verbblack.svg#VerbBlack') format('svg');
}

@font-face {
    font-family: 'VerbLight';
    src: url('../fonts/VerbLight/verblight.eot');
    src: url('../fonts/VerbLight/verblight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbLight/verblight.woff') format('woff'),
         url('../fonts/VerbLight/verblight.ttf') format('truetype'),
         url('../fonts/VerbLight/verblight.svg#VerbLight') format('svg');
}

@font-face {
    font-family: 'VerbMedium';
    src: url('../fonts/VerbMedium/verbmedium.eot');
    src: url('../fonts/VerbMedium/verbmedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbMedium/verbmedium.woff') format('woff'),
         url('../fonts/VerbMedium/verbmedium.ttf') format('truetype'),
         url('../fonts/VerbMedium/verbmedium.svg#VerbLight') format('svg');
}


@font-face {
    font-family: 'VerbExtraLight-Italic';
    src: url('../fonts/VerbExtralight-Italic/verbextralight-italic.eot');
    src: url('../fonts/VerbExtralight-Italic/verbextralight-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbExtralight-Italic/verbextralight-italic.woff') format('woff'),
         url('../fonts/VerbExtralight-Italic/verbextralight-italic.ttf') format('truetype'),
         url('../fonts/VerbExtralight-Italic/verbextralight-italic.svg#VerbLight') format('svg');
}
