div.foreigners {
	h1 {
		text-transform: uppercase;
		line-height: 55px;

		.small {
			font-size: 30px;
			font-family: 'VerbLight';
			color: #0099cb;
		}

		.big {
			font-size: 40px;
			font-family: 'VerbMedium';
			color: #003466;
		}
	}

	h2 {
		.h2;
	}

	h3 {
		text-transform: uppercase;

		.small {
			letter-spacing: 10px;
			font-size: 20px;
			font-family: 'VerbLight';
			color: #0099cb;
		}

		.big {
			letter-spacing: 5px;
			font-size: 40px;
			font-family: 'VerbBlack';
			color: #003466;
		}
	}
}