div.foreigner {
	color: @link-hover;
	font-family: 'VerbLight';
	letter-spacing: 1px;
	font-size: 12.5px;
	.text-right;

	a {
		letter-spacing: 2px;
	}
}

ul.photos {
	@portrait-width: 392px;
	@portrait-height: 369px;

	list-style: none;

	li {
		float: left;
		width: @portrait-width;
		height: @portrait-height;
		box-sizing: border-box;

		img {
			width: @portrait-width;
			height: @portrait-height;
		}

		div {
			width: @portrait-width;
			height: @portrait-height;
		}

		div.overlay {
			background-image: url('../img/transparent-portrait.png');
			background-repeat: repeat;
			position: absolute;
			text-align: center;
			color: white;
			display: none;

			h2 {
				height: 32px;
			}

			span.heading {
				font-family: 'VerbBlack';
				font-size: 32px;
				letter-spacing: 8px;
				text-transform: uppercase;
				position: relative;
				top: 80px;

				&.first {
					top: 40px;
					text-align: center;
					font-size: 24px;
					margin-left: 8px;
				}
			}

			span.subheading {
				font-family: 'VerbLight';
				font-size: 24px;
				letter-spacing: 8px;
				text-transform: uppercase;
				position: relative;
				top: 85px;

				&.first {
					top: 50px;
					font-size: 17px;
					line-height: 25px;
					letter-spacing: 4px;
				}
			}

			a.more {
				font-family: 'VerbLight';
				position: relative;
				text-decoration: none;
				font-size: 24px;
				color: white;
				top: 110px;
				background: transparent url(../img/arrow-white-right.png) center right no-repeat;
				padding: 10px 50px 10px 0;
			}

			ul.more {
				list-style: none;
				position: relative;
				top: 150px;

				li {
					height: 20px;

					a {
						font-size: 14px;
						font-family: 'VerbMedium';
						color: white;
						text-transform: uppercase;
					}
				}
			}

		}

		div.overlay.no-style {
			background-image: none;
			display: block;
			text-transform: uppercase;

			span.wanna-be {
				font-family: 'VerbLight';
				letter-spacing: 2px;
				font-size: 14.5px;
				position: relative;
				top: 115px;
			}

			span.one-of-us {
				font-family: 'VerbBlack';
				letter-spacing: 8px;
				font-size: 32px;
				position: relative;
				top: 130px;
			}

			span.link a.carrier {
				font-family: 'VerbMedium';
				letter-spacing: 2px;
				font-size: 14px;
				color: white;
				position: relative;
				top: 150px;
			}
		}

	}
}