.h2 {
  font-size: 15px;
  font-family: 'VerbMedium';
  color: #003466;
}
.description {
  font-size: 15px;
  color: #676767;
  font-family: 'Helvetica';
  letter-spacing: 1px;
  line-height: 25px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
@font-face {
  font-family: 'VerbBlack';
  src: url('../fonts/VerbBlack/verbblack.eot');
  src: url('../fonts/VerbBlack/verbblack.eot?#iefix') format('embedded-opentype'), url('../fonts/VerbBlack/verbblack.woff') format('woff'), url('../fonts/VerbBlack/verbblack.ttf') format('truetype'), url('../fonts/VerbBlack/verbblack.svg#VerbBlack') format('svg');
}
@font-face {
  font-family: 'VerbLight';
  src: url('../fonts/VerbLight/verblight.eot');
  src: url('../fonts/VerbLight/verblight.eot?#iefix') format('embedded-opentype'), url('../fonts/VerbLight/verblight.woff') format('woff'), url('../fonts/VerbLight/verblight.ttf') format('truetype'), url('../fonts/VerbLight/verblight.svg#VerbLight') format('svg');
}
@font-face {
  font-family: 'VerbMedium';
  src: url('../fonts/VerbMedium/verbmedium.eot');
  src: url('../fonts/VerbMedium/verbmedium.eot?#iefix') format('embedded-opentype'), url('../fonts/VerbMedium/verbmedium.woff') format('woff'), url('../fonts/VerbMedium/verbmedium.ttf') format('truetype'), url('../fonts/VerbMedium/verbmedium.svg#VerbLight') format('svg');
}
@font-face {
  font-family: 'VerbExtraLight-Italic';
  src: url('../fonts/VerbExtralight-Italic/verbextralight-italic.eot');
  src: url('../fonts/VerbExtralight-Italic/verbextralight-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/VerbExtralight-Italic/verbextralight-italic.woff') format('woff'), url('../fonts/VerbExtralight-Italic/verbextralight-italic.ttf') format('truetype'), url('../fonts/VerbExtralight-Italic/verbextralight-italic.svg#VerbLight') format('svg');
}
div.foreigner {
  color: #003466;
  font-family: 'VerbLight';
  letter-spacing: 1px;
  font-size: 12.5px;
  text-align: right;
}
div.foreigner a {
  letter-spacing: 2px;
}
ul.photos {
  list-style: none;
}
ul.photos li {
  float: left;
  width: 392px;
  height: 369px;
  box-sizing: border-box;
}
ul.photos li img {
  width: 392px;
  height: 369px;
}
ul.photos li div {
  width: 392px;
  height: 369px;
}
ul.photos li div.overlay {
  background-image: url('../img/transparent-portrait.png');
  background-repeat: repeat;
  position: absolute;
  text-align: center;
  color: white;
  display: none;
}
ul.photos li div.overlay h2 {
  height: 32px;
}
ul.photos li div.overlay span.heading {
  font-family: 'VerbBlack';
  font-size: 32px;
  letter-spacing: 8px;
  text-transform: uppercase;
  position: relative;
  top: 80px;
}
ul.photos li div.overlay span.heading.first {
  top: 40px;
  text-align: center;
  font-size: 24px;
  margin-left: 8px;
}
ul.photos li div.overlay span.subheading {
  font-family: 'VerbLight';
  font-size: 24px;
  letter-spacing: 8px;
  text-transform: uppercase;
  position: relative;
  top: 85px;
}
ul.photos li div.overlay span.subheading.first {
  top: 50px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 4px;
}
ul.photos li div.overlay a.more {
  font-family: 'VerbLight';
  position: relative;
  text-decoration: none;
  font-size: 24px;
  color: white;
  top: 110px;
  background: transparent url(../img/arrow-white-right.png) center right no-repeat;
  padding: 10px 50px 10px 0;
}
ul.photos li div.overlay ul.more {
  list-style: none;
  position: relative;
  top: 150px;
}
ul.photos li div.overlay ul.more li {
  height: 20px;
}
ul.photos li div.overlay ul.more li a {
  font-size: 14px;
  font-family: 'VerbMedium';
  color: white;
  text-transform: uppercase;
}
ul.photos li div.overlay.no-style {
  background-image: none;
  display: block;
  text-transform: uppercase;
}
ul.photos li div.overlay.no-style span.wanna-be {
  font-family: 'VerbLight';
  letter-spacing: 2px;
  font-size: 14.5px;
  position: relative;
  top: 115px;
}
ul.photos li div.overlay.no-style span.one-of-us {
  font-family: 'VerbBlack';
  letter-spacing: 8px;
  font-size: 32px;
  position: relative;
  top: 130px;
}
ul.photos li div.overlay.no-style span.link a.carrier {
  font-family: 'VerbMedium';
  letter-spacing: 2px;
  font-size: 14px;
  color: white;
  position: relative;
  top: 150px;
}
a.block {
  font-family: 'VerbLight';
  color: white;
  padding: 8px 60px 8px 8px;
  font-size: 17px;
  text-decoration: none;
  background: #0099cb url(../img/arrow-white-right.png) center right no-repeat;
  border: 8px solid #0099cb;
  position: relative;
  top: 40px;
}
div.contact {
  margin: 0 0 40px 0;
  padding: 60px 0 60px 0;
  background-color: #003466;
  color: white;
  position: relative;
  top: 100px;
}
div.contact h5 {
  color: #949494;
  font-size: 16px;
  margin: 40px 0 0 0;
}
div.contact div.office {
  padding: 10px 0 0 20px;
}
div.contact div.office h4 {
  color: #bac1cc;
  font-family: 'VerbLight';
  letter-spacing: 3px;
}
div.contact div.office h4 .big {
  font-size: 23px;
}
div.contact div.office h4 .small {
  font-size: 17px;
}
div.contact div.office span.number {
  font-size: 28px;
  font-family: 'VerbLight';
  letter-spacing: 3px;
}
div.contact div.office span.number strong {
  font-family: 'VerbBlack';
}
div.contact div.personal {
  padding: 0 80px 0 110px;
  border-right: 1px solid white;
}
div.contact div.personal h4 {
  padding-bottom: 35px;
  font-family: 'VerbLight';
}
div.contact div.personal h4 .big {
  font-size: 42px;
  letter-spacing: 5px;
}
div.contact div.personal h4 .small {
  font-size: 25px;
  letter-spacing: 5px;
}
div.contact div.personal span.title {
  font-family: 'VerbLight';
  font-size: 14.5px;
  letter-spacing: 1px;
}
div.contact div.personal span.name {
  text-transform: uppercase;
  font-family: 'VerbBlack';
  font-size: 24px;
  letter-spacing: 2px;
}
div.contact div.personal span.contact-name {
  color: #949494;
  font-size: 15px;
  font-family: 'VerbMedium';
  font-style: italic;
}
div.contact div.personal span.contact-item {
  color: #0099cb;
  font-size: 15px;
  font-family: 'Helvetica';
  padding-left: 5px;
}
div.contact div.personal span.contact-item a {
  color: #0099cb;
  text-decoration: underline;
}
div.contact div.personal div.social {
  margin-top: 35px;
}
div.person {
  position: relative;
  top: 50px;
}
div.person div.details {
  position: relative;
  left: 10px;
}
div.person div.details span {
  position: relative;
}
div.person div.details span.first-name {
  left: -5px;
  top: 25px;
}
div.person div.details span.last-name {
  left: -5px;
  top: 45px;
}
div.person div.details div.description {
  font-family: 'Helvetica';
  width: 250px;
}
div.person div.details div.description h3 {
  border-top: 1px solid #c9c9c9;
  color: #003466;
  font-size: 16px;
  padding: 25px 0 5px 0;
}
div.person div.details div.description p {
  color: #a0a0a0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
}
div.person div.details div.description a.more {
  position: relative;
  top: 15px;
  padding: 10px 40px 10px 0;
  background: transparent url('../img/arrow-blue-down.png') center right no-repeat;
  background-size: 24px 24px;
  font-family: 'VerbMedium';
  font-size: 16px;
  color: #40b3d8;
  text-transform: uppercase;
  text-decoration: none;
}
div.person div.details div.description a.more.active {
  position: relative;
  top: 15px;
  padding: 10px 40px 10px 0;
  background: transparent url(../img/arrow-blue-up-small.png) center right no-repeat;
  background-size: 24px 24px;
  font-family: 'VerbMedium';
  font-size: 16px;
  color: #40b3d8;
  text-transform: uppercase;
  text-decoration: none;
}
div.person span.position {
  color: #545454;
  font-family: 'VerbExtraLight-Italic';
  font-size: 23px;
  letter-spacing: 4px;
}
div.person span.first-name {
  color: #003466;
  font-family: 'VerbBlack';
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
div.person span.last-name {
  color: #0099cb;
  font-family: 'VerbLight';
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 20px;
}
div.person p.quote {
  font-family: Georgia;
  font-style: italic;
  line-height: 40px;
  color: #292929;
  font-size: 30px;
  letter-spacing: 2px;
  width: 450px;
  position: relative;
  top: 40px;
  padding-bottom: 30px;
}
div.read-all {
  position: relative;
  top: 80px;
}
div.read-all p {
  color: #a0a0a0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}
div.foreigners h1 {
  text-transform: uppercase;
  line-height: 55px;
}
div.foreigners h1 .small {
  font-size: 30px;
  font-family: 'VerbLight';
  color: #0099cb;
}
div.foreigners h1 .big {
  font-size: 40px;
  font-family: 'VerbMedium';
  color: #003466;
}
div.foreigners h2 {
  font-size: 15px;
  font-family: 'VerbMedium';
  color: #003466;
}
div.foreigners h3 {
  text-transform: uppercase;
}
div.foreigners h3 .small {
  letter-spacing: 10px;
  font-size: 20px;
  font-family: 'VerbLight';
  color: #0099cb;
}
div.foreigners h3 .big {
  letter-spacing: 5px;
  font-size: 40px;
  font-family: 'VerbBlack';
  color: #003466;
}
div.products h1 {
  text-transform: uppercase;
  line-height: 55px;
}
div.products h1 .small {
  line-height: 50px;
  font-size: 30px;
  font-family: 'VerbLight';
  color: #0099cb;
}
div.products h1 .big {
  font-size: 40px;
  font-family: 'VerbMedium';
  color: #003466;
}
div.products h2 {
  text-align: right;
  text-transform: uppercase;
  line-height: 50px;
}
div.products h2 .small {
  font-size: 30px;
  font-family: 'VerbLight';
  color: #0099cb;
}
div.products h2 .big {
  font-size: 40px;
  font-family: 'VerbBlack';
  color: #003466;
}
div.products p {
  font-size: 15px;
  color: #676767;
  font-family: 'Helvetica';
  letter-spacing: 1px;
  line-height: 25px;
}
div.facts {
  padding-top: 60px;
  margin-top: 60px;
}
div.facts span {
  font-size: 15px;
  font-family: 'VerbMedium';
  color: #003466;
  font-weight: bold;
}
div.text div.bracket {
  text-align: right;
  background: transparent url('../img/bracket.png') center right no-repeat;
  min-height: 77px;
  padding: 0 50px 0 0;
}
div.text div.bracket h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'VerbLight';
  font-size: 18px;
  color: #0099cb;
  line-height: 28px;
}
div.text div.bracket h3 .big {
  font-family: 'VerbMedium';
  color: #003466;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
div.text div.links ul {
  margin-top: 20px;
  list-style: none;
}
div.text div.links ul li {
  padding: 7px 0 7px 0;
}
div.text div.links ul li a {
  color: #0099cb;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}
div.text div.links span.nothing {
  color: #676767;
  font-family: "Helvetica";
  font-size: 15px;
  position: relative;
  top: 42px;
}
div.heading {
  padding-top: 60px;
  margin-top: 60px;
  background: transparent url('../img/quotes.png') center right no-repeat;
  background-repeat: no-repeat;
  width: 1180px;
  height: 205px;
}
div.heading.big-quotes {
  background: transparent url('../img/quotes-big.png') center right no-repeat;
  height: 461px;
}
div.heading.big-quotes div.fix-heading {
  padding-bottom: 18px;
  padding-top: 18px;
}
div.heading div.fix-heading {
  padding-bottom: 35px;
}
div.heading span.heading {
  position: relative;
  top: -40px;
  font-family: 'VerbBlack';
  text-transform: uppercase;
  background-color: #003466;
  letter-spacing: 4px;
  font-size: 40px;
  padding: 15px 20px 15px 20px;
  color: #fff;
}
div.heading span.heading.client {
  font-size: 60px;
  padding: 5px 10px;
  position: relative;
  top: -60px;
}
div.heading span.heading.team {
  font-size: 35px;
  letter-spacing: 4px;
  padding: 10px 10px;
}
div.heading span.heading.team.small {
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  top: -100px;
}
div.heading span.heading.moral {
  font-size: 35px;
  letter-spacing: 4px;
  padding: 10px 10px;
  position: relative;
  top: -15px;
}
div.heading span.heading.small {
  font-size: 25px;
  letter-spacing: 8px;
  line-height: 45px;
}
div.heading span.heading.small.light-blue {
  color: #003466;
  background-color: #0099cb;
}
div.heading span.heading.small.light-blue.white-font {
  color: white;
}
div.heading span.heading.small.light-blue.light {
  font-family: 'VerbLight';
  letter-spacing: 16px;
  font-size: 26px;
  position: relative;
  top: -50px;
}
div.heading span.heading.small.light-blue.light.team {
  position: relative;
  top: -80px;
  padding: 5px 10px;
  letter-spacing: 20px;
}
div.image-heading {
  padding: 30px 0 20px 0;
  margin: 30px 0 20px 0;
}
div.text-heading {
  position: relative;
  top: 35px;
  padding: 0;
  margin: 0;
}
div.text-heading h2 {
  color: #003466;
  font-family: "VerbBlack";
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
div.text-heading h2 span {
  font-family: "VerbLight";
  color: #0099cb;
  font-size: 25px;
  letter-spacing: 2px;
}
div.contact-box {
  margin: 0 0 40px 0;
  padding: 60px 0 60px 0;
  background-color: #003466;
  color: white;
}
div.town {
  padding-top: 20px;
  display: none;
}
div.town.active {
  display: block;
}
div.town h2 {
  font-family: "VerbLight";
  margin-top: 0;
  color: #fff;
  font-size: 39px;
  letter-spacing: 8px;
}
div.town h3 {
  font-family: "VerbLight";
  font-size: 19px;
  letter-spacing: 3px;
  color: #fff;
  margin-bottom: 0;
}
div.town div.persons {
  padding-left: 35px;
}
div.town ul.contact {
  list-style: none;
  margin-top: 0;
}
div.town ul.contact li {
  float: left;
  padding: 0 45px 30px 0;
  text-align: center;
}
div.town ul.contact li img {
  width: 90px;
  height: 90px;
}
div.town ul.contact li span.name {
  line-height: 8px;
  position: relative;
  top: 45px;
}
div.town span.contact-item {
  color: #008ec0;
}
div.town div.divider {
  border-right: 1px solid white;
  padding-bottom: 50px;
}
div.more {
  position: relative;
  top: -39px;
  left: -11px;
}
div.more img.photo {
  width: 180px;
  height: 115px;
}
div.more img.map {
  width: 1001px;
  height: 115px;
}
div.slider ul.towns {
  list-style: none;
}
div.slider ul.towns li {
  text-align: center;
  float: left;
  min-width: 110px;
  background: transparent url('../img/slider-inactive.png') center bottom no-repeat;
  padding: 15px 15px 40px 15px;
}
div.slider ul.towns li a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #003365;
  font-family: "VerbLight";
  font-size: 20px;
}
div.slider ul.towns li a:hover {
  font-family: "VerbBlack";
}
div.slider ul.towns li.active {
  background: transparent url('../img/slider-active.png') center bottom no-repeat;
  padding-bottom: 69px;
}
div.slider ul.towns li.active a {
  font-family: "VerbBlack";
}
div.news .padding {
  padding-top: 30px;
}
div.news img.thumbnail {
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
div.news span.date {
  color: #676767;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 9px;
  border-bottom: 1px solid #676767;
}
div.news a {
  font-family: 'VerbBlack';
  text-decoration: none;
}
div.news a h3 {
  text-transform: uppercase;
  color: #003466;
  letter-spacing: 4px;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 15px;
}
div.news a.photo-gallery {
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 3px;
  font-size: 14px;
  color: #0099cb;
}
div.news div.divider {
  display: inline;
  float: left;
  position: relative;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 720px;
}
div.hierarchy div.grid_2 {
  padding-left: 12px;
}
div.hierarchy div.grid_1 {
  padding-right: 40px;
}
div.hierarchy div.photo {
  display: inline;
  float: left;
  position: relative;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}
div.hierarchy div.photo.one {
  margin-left: 65px;
}
div.hierarchy div.photo.extented {
  background: transparent url('../img/rounded.png') center bottom no-repeat;
  height: 170px;
}
div.hierarchy div.photo.extented.active {
  background: transparent url('../img/rounded-active.png') center bottom no-repeat;
  height: 198px;
}
div.hierarchy img.portrait {
  margin-bottom: 17px;
  position: static;
  top: 0;
}
div.hierarchy img.portrait.small {
  margin-bottom: 10px;
  height: 88px;
  width: 88px;
}
div.hierarchy span.person-name {
  position: static;
  line-height: 17px;
}
div.hierarchy h3.position {
  color: #3f3f3f;
  font-family: "VerbExtraLight-Italic";
  font-size: 20px;
  letter-spacing: 2px;
  height: 35px;
}
div.hierarchy h3.position.head {
  height: 25px;
}
body {
  padding: 25px 0 0 0;
  font-size: 12px;
}
h1.hidden {
  visibility: hidden;
  position: absolute;
}
h2.person {
  position: relative;
  top: -10px;
  height: 35px;
}
a {
  color: #020202;
}
a:hover {
  color: #003466;
}
a.profile {
  font-size: 16.5px;
  color: #0099cb;
  font-family: 'VerbLight';
  text-transform: uppercase;
  text-decoration: none;
  background: transparent url(../img/arrow-blue-right.png) center right no-repeat;
  padding: 5px 45px 5px 0;
}
hr {
  margin: 20px;
  border-top: 1px solid #c9c9c9;
  border-bottom: 0;
}
div.footer {
  position: relative;
  top: 40px;
  text-align: center;
}
div.footer div.need-help {
  margin-top: 80px;
}
div.footer span.small {
  font-family: 'VerbLight';
  color: #0099cb;
  font-size: 40px;
}
div.footer span.big {
  font-family: 'VerbLight';
  color: #003466;
  font-size: 70px;
}
.csob {
  float: right;
}
.csob .city {
  color: #00144e;
  font-size: 12.5px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: 'VerbLight';
  font-weight: bold;
  float: right;
  position: relative;
  top: -20px;
  left: -5px;
}
div.text h2 {
  font-size: 15px;
  font-family: 'VerbMedium';
  color: #003466;
  font-weight: bold;
}
div.text h3 {
  font-size: 15px;
  font-family: 'VerbMedium';
  color: #003466;
  font-weight: bold;
}
div.text h3 .small {
  letter-spacing: 10px;
  font-size: 20px;
  font-family: 'VerbLight';
  color: #0099cb;
}
div.text h3 .big {
  letter-spacing: 5px;
  font-size: 40px;
  font-family: 'VerbBlack';
  color: #003466;
}
div.text p {
  font-size: 15px;
  color: #676767;
  font-family: 'Helvetica';
  letter-spacing: 1px;
  line-height: 25px;
}
div.text p.padding {
  padding-top: 35px;
}
div.text p.long {
  width: 600px;
}
ul.links {
  list-style: none;
  padding: 30px 0 30px 0;
}
ul.links li {
  float: left;
  padding: 0 40px 0 0;
}
ul.links li a {
  color: #020202;
  font-family: 'VerbMedium';
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent url(../img/arrow-black-down.png) center right no-repeat;
  padding: 10px 50px 10px 0;
}
ul.links li a:hover {
  color: #1fa5d1;
  background: transparent url(../img/arrow-blue-down.png) center right no-repeat;
}
ul.links li a.back {
  background: transparent url(../img/arrow-black-left-big.png) center right no-repeat;
  padding: 20px 45px 20px 0;
}
ul.links li a.back:hover {
  background: transparent url(../img/arrow-black-left-big.png) center right no-repeat;
}
ul.links li a.bigger {
  font-size: 18px;
  margin-left: 9px;
}
p {
  font-size: 15px;
  color: #676767;
  font-family: 'Helvetica';
  letter-spacing: 1px;
  line-height: 25px;
}
div.profile {
  padding-left: 15px;
  padding-bottom: 60px;
}
img.hidden {
  display: none;
}
img.portrait {
  width: 215px;
  height: 215px;
}
img.portrait.rounded {
  position: relative;
  top: 40px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  behavior: url('pie.htc');
}
span.person-name {
  color: #676767;
  font-family: "Helvetica";
  font-size: 12px;
  position: relative;
  top: 50px;
}
span.position {
  color: #545454;
  font-family: 'VerbExtraLight-Italic';
  font-size: 21px;
  letter-spacing: 4px;
}
span.contact-name {
  color: #949494;
  font-family: 'VerbLight';
  font-size: 16.5px;
  line-height: 28px;
}
span.contact-item {
  color: #003466;
  font-family: 'VerbLight';
  font-size: 16.5px;
}
span.contact-item.email {
  color: #0099cb;
}
span.address {
  position: relative;
  top: 5px;
  font-weight: bold;
  font-size: 16px;
}
span {
  line-height: 30px;
}
ul.whyus {
  list-style: none;
  color: #676767;
  font-size: 15px;
}
ul.whyus li {
  background: url('/static/img/list-arrow.png') no-repeat left center;
  padding-left: 50px;
  padding-top: 9px;
  height: 32px;
  font-weight: bold;
}
