@link: #020202;
@link-hover: #003466;

@import 'snippets.less';
@import 'fonts.less';
@import 'homepage.less';
@import 'person.less';
@import 'foreigners.less';
@import 'products.less';
@import 'career.less';
@import 'whyus.less';
@import 'contact.less';
@import 'aboutcsob.less';

body {
	padding: 25px 0 0 0;
	font-size: 12px;
}
 
h1 {
	&.hidden {
		visibility: hidden;
		position: absolute;
	}
}

h2 {
	&.person {
		position: relative;
		top: -10px;
		height: 35px;
	}
}

a {
	color: @link;
}

a:hover {
	color: @link-hover;
}

a.profile {
	font-size: 16.5px;
	color: #0099cb;
	font-family: 'VerbLight';
	text-transform: uppercase;
	text-decoration: none;
	background: transparent url(../img/arrow-blue-right.png) center right no-repeat;
	padding: 5px 45px 5px 0;
}

hr {
	margin: 20px;
	border-top: 1px solid #c9c9c9;
	border-bottom: 0;
}

div.footer {
	position: relative;
	top: 40px;
	text-align: center;

	div.need-help {
		margin-top: 80px;
	}

	span.small {
		font-family: 'VerbLight';
		color: #0099cb;
		font-size: 40px;
	}

	span.big {
		font-family: 'VerbLight';
		color: #003466;
		font-size: 70px;
	}
}

.csob {
	float: right;

	.city {
		color: #00144e;
		font-size: 12.5px;
		letter-spacing: 6px;
		text-transform: uppercase;
		font-family: 'VerbLight';
		font-weight: bold;
		float: right;
		position: relative;
		top: -20px;
		left: -5px;
	}
}

div.text {
	h2 {
		.h2;
		font-weight: bold;
	}

	h3 {
		.h2;
		font-weight: bold;

		& .small {
			letter-spacing: 10px;
			font-size: 20px;
			font-family: 'VerbLight';
			color: #0099cb;
		}

		& .big {
			letter-spacing: 5px;
			font-size: 40px;
			font-family: 'VerbBlack';
			color: #003466;
		}
	}

	p {
		.description;

		&.padding {
			padding-top: 35px;
		}

		&.long {
			width: 600px;
		}
	}
}

ul.links {
	list-style: none;
	padding: 30px 0 30px 0;

	li {
		float: left;
		padding: 0 40px 0 0;

		a {
			color: @link;
			font-family: 'VerbMedium';
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			background: transparent url(../img/arrow-black-down.png) center right no-repeat;
			padding: 10px 50px 10px 0;
		}

		a:hover {
			color: #1fa5d1;
			background: transparent url(../img/arrow-blue-down.png) center right no-repeat;
		}
		
		a.back {
			background: transparent url(../img/arrow-black-left-big.png) center right no-repeat;
			padding: 20px 45px 20px 0;
		}

		a.back:hover {
			background: transparent url(../img/arrow-black-left-big.png) center right no-repeat;
		}

		a.bigger {
			font-size: 18px;
			margin-left: 9px;
		}

	}

}

p {
	.description;
}

div.profile {
	padding-left: 15px;
	padding-bottom: 60px;
}

img.hidden {
  display: none;
}

img.portrait {
	width: 215px;
	height: 215px;

	&.rounded {
		position: relative;
		top: 40px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
		behavior: url('pie.htc');
	}
}

span.person-name {
	color: #676767;
	font-family: "Helvetica";
	font-size: 12px;
	position: relative;
	top: 50px;
}

span.position {
	color: #545454;
	font-family: 'VerbExtraLight-Italic';
	font-size: 21px;
	letter-spacing: 4px;
}

span.contact-name {
	color: #949494;
	font-family: 'VerbLight';
	font-size: 16.5px;
	line-height: 28px;
}

span.contact-item {
	color: #003466;
	font-family: 'VerbLight';
	font-size: 16.5px;

}

span.contact-item.email {
	color: #0099cb;
}

span.address {
	position: relative;
	top: 5px;
	font-weight: bold;
	font-size: 16px;
}

span {
	line-height: 30px;
}

ul.whyus {
  list-style: none;
  color: #676767;
  font-size: 15px;

  li {
    background: url('/static/img/list-arrow.png') no-repeat left center;
    padding-left: 50px;
    padding-top: 9px;
    height: 32px;
    font-weight: bold;
  }
}