a.block {
	font-family: 'VerbLight';
	color: white;
	padding: 8px 60px 8px 8px;
	font-size: 17px;
	text-decoration: none;
	background: #0099cb url(../img/arrow-white-right.png) center right no-repeat;
	border: 8px solid #0099cb;
	position: relative;
	top: 40px;
}

div.contact {
	margin: 0 0 40px 0;
	padding: 60px 0 60px 0;
	background-color: #003466;
	color: white;
	position: relative;
	top: 100px;

	h5 {
		color: #949494;
		font-size: 16px;
		margin: 40px 0 0 0;
	}

	div.office {
		padding: 10px 0 0 20px;

		h4 {
			color: #bac1cc;
			font-family: 'VerbLight';
			letter-spacing: 3px;

			.big {
				font-size: 23px;
			}

			.small {
				font-size: 17px;
			}
		}

		span.number {
			font-size: 28px;
			font-family: 'VerbLight';
			letter-spacing: 3px;

			strong {
				font-family: 'VerbBlack';
			}
		}
	}

	div.personal {
		padding: 0 80px 0 110px;
		border-right: 1px solid white;

		h4 {
			padding-bottom: 35px;
			font-family: 'VerbLight';	

			.big {
				font-size: 42px;
				letter-spacing: 5px;
			}

			.small {
				font-size: 25px;
				letter-spacing: 5px;
			}
		}

		span.title {
			font-family: 'VerbLight';
			font-size: 14.5px;
			letter-spacing: 1px;
		}

		span.name {
			text-transform: uppercase;
			font-family: 'VerbBlack';
			font-size: 24px;
			letter-spacing: 2px;
		}

		span.contact-name {
			color: #949494;
			font-size: 15px;
			font-family: 'VerbMedium';
			font-style: italic;
		}

		span.contact-item {
			color: #0099cb;
			font-size: 15px;
			font-family: 'Helvetica';
			padding-left: 5px;

			a {
				color: #0099cb;
				text-decoration: underline;
			}
		}

		div.social {
			margin-top: 35px;
		}
	}
}

div.person {
	position: relative;
	top: 50px;

	div.details {
		position: relative;
		left: 10px;

		span {
			position: relative;

			&.first-name {
				left: -5px;
				top: 25px;
			}

			&.last-name {
				left: -5px;
				top: 45px;
			}
		}

		div.description {
			font-family: 'Helvetica';
			width: 250px;

			h3 {
				border-top: 1px solid #c9c9c9;
				color: #003466;
				font-size: 16px;
				padding: 25px 0 5px 0;
			}

			p {
				color: #a0a0a0;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 1px;
			}

			a.more {
				position: relative;
				top: 15px;
				padding: 10px 40px 10px 0;
				background: transparent url('../img/arrow-blue-down.png') center right no-repeat;
				background-size: 24px 24px;
				font-family: 'VerbMedium';
				font-size: 16px;
				color: #40b3d8;
				text-transform: uppercase;
				text-decoration: none;
			}

			a.more.active {
				position: relative;
				top: 15px;
				padding: 10px 40px 10px 0;
				background: transparent url(../img/arrow-blue-up-small.png) center right no-repeat;
				background-size: 24px 24px;
				font-family: 'VerbMedium';
				font-size: 16px;
				color: #40b3d8;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}

	span.position {
		color: #545454;
		font-family: 'VerbExtraLight-Italic';
		font-size: 23px;
		letter-spacing: 4px;
	}

	span.first-name {
		color: #003466;
		font-family: 'VerbBlack';
		font-size: 80px;
		text-transform: uppercase;
		letter-spacing: 8px;
	}

	span.last-name {
		color: #0099cb;
		font-family: 'VerbLight';
		font-size: 38px;
		text-transform: uppercase;
		letter-spacing: 20px;
	}

	p.quote {
		font-family: Georgia;
		font-style: italic;
		line-height: 40px;
		color: #292929;
		font-size: 30px;
		letter-spacing: 2px;
		width: 450px;
		position: relative;
		top: 40px;
		padding-bottom: 30px;
	}
}

div.read-all {
	position: relative;
	top: 80px;

	p {
		color: #a0a0a0;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
	}
}
