div.products {
	h1 {
		text-transform: uppercase;
		line-height: 55px;

		.small {
			line-height: 50px;
			font-size: 30px;
			font-family: 'VerbLight';
			color: #0099cb;
		}

		.big {
			font-size: 40px;
			font-family: 'VerbMedium';
			color: #003466;
		}
	}

	h2 {
		text-align: right;
		text-transform: uppercase;
			line-height: 50px;

		.small {
			font-size: 30px;
			font-family: 'VerbLight';
			color: #0099cb;
		}

		.big {
			font-size: 40px;
			font-family: 'VerbBlack';
			color: #003466;
		}
	}

	p {
		.description;
	}
}