.h2 {
  font-size: 15px;
  font-family: 'VerbMedium';
  color: #003466;
}
.description {
  font-size: 15px;
  color: #676767;
  font-family: 'Helvetica';
  letter-spacing: 1px;
  line-height: 25px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
