div.image-heading {
  padding: 30px 0 20px 0;
  margin: 30px 0 20px 0;
}
div.text-heading {
  position: relative;
  top: 35px;
  padding: 0;
  margin: 0;
}
div.text-heading h2 {
  color: #003466;
  font-family: "VerbBlack";
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
div.text-heading h2 span {
  font-family: "VerbLight";
  color: #0099cb;
  font-size: 25px;
  letter-spacing: 2px;
}
