<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Title here -->
		<title>{ifset #title}{include title|striptags} -  {/ifset}ČSOB Administrace</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Styles -->
        {block stylesheeds}
		<link href="{$basePath}/static/admin/css/bootstrap.min.css" rel="stylesheet">
		<link href="{$basePath}/static/admin/css/font-awesome.min.css" rel="stylesheet">
		<link href="{$basePath}/static/admin/css/style.css" rel="stylesheet">
		<link href="{$basePath}/static/admin/css/widgets.css" rel="stylesheet">
        <link href="{$basePath}/static/admin/css/jquery.tagsinput.css" rel="stylesheet">
        <link href="{$basePath}/static/admin/js/uploadify/uploadify.css" rel="stylesheet">
        {/block}

		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>

	<body>
		<style type="text/css">
			#tracy-debug-bar { display:none; }
		</style>

		<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
				<!-- Menu button for smallar screens -->
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a n:href="Homepage:default" class="navbar-brand">ČSOB Pojišťovna &nbsp; <span class="bold">Administrace</span></a>
				</div>
				<!-- Site name for smallar screens -->
				<!-- Navigation starts -->
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<!-- Links -->
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								{$user->getIdentity()->fullname} <b class="caret"></b>
							</a>
							<!-- Dropdown menu -->
							<ul class="dropdown-menu">
							<li><a n:href="Uzivatel:nastaveni"><i class="fa fa-cog"></i> Nastavení</a></li>
							<li><a n:href="Uzivatel:odhlasitSe"><i class="fa fa-power-off"></i> Odhlásit se</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- Main content starts -->
		<div class="content">
			<!-- Sidebar -->
			<div class="sidebar">
				<div class="sidebar-dropdown"><a href="#">Navigace</a></div>
				<div class="sidebar-inner">
					<div class="sidebar-widget">
					</div>
					<ul class="navi">
						<li class="nred"><a n:href="Zamestnanci:default"><i class="fa fa-user"></i> Zaměstnanci</a></li>
						<li class="nred"><a n:href="Aktuality:default"><i class="fa fa-list"></i> Aktuality</a></li>
					</ul>
				</div>
			</div>
			<div class="mainbar">
                <div style="padding-top: 14px"></div>
                {if $flashes}
                    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" style="margin: 0 7px 5px 7px">
                        {$flash->message}
                    </div>
                {/if}
				{include content}
			</div>
			<div class="clearfix"></div>
		</div>

        {block scripts}
		<script src="{$basePath}/static/admin/js/jquery.js"></script>
		<script src="{$basePath}/static/admin/js/bootstrap.min.js"></script>
		<script src="{$basePath}/static/admin/js/custom.js"></script>
        <script src="{$basePath}/static/admin/js/jquery.tagsinput.js"></script>
        <script src="{$basePath}/static/admin/js/ckeditor/ckeditor.js"></script>
        <script src="{$basePath}/static/admin/js/uploadify/jquery.uploadify.js"></script>

        {*<script type="text/javascript">
            $(function() {
                $('#frm-createActuality-photos').uploadify({
                    'swf'      : '/static/admin/js/uploadify/uploadify.swf',
                    'uploader' : '/uploadify.php',
                    'scriptData' : {
                        {=session_name()}: {=session_id()}
                    },
                    'onUploadComplete' : function(file, data) {
                        alert(data);
                    }
                });
            });
        </script>*}

		{/block}
	</body>
</html>