{if $person}
    {if $person->photo}
        {var $img = "photos/thumbnail/" . $person->photo}
    {else}
        {var $img = "anonymous.jpg"}
    {/if}
    {if $person->hasProfile}
        <a href="{plink Profil:default, $person->slug}">
            <img src="{$basePath}/static/img/{$img}" class="portrait rounded">
        </a>
        <br>
        <a href="{plink Profil:default, $person->slug}">
            <span class="name">{$person->firstname}<br>{$person->lastname}</span>
        </a>
    {else}
        <img src="{$basePath}/static/img/{$img}" class="portrait rounded">
        <br>
        <span class="name">{$person->firstname}<br>{$person->lastname}</span>
    {/if}
{/if}