{if $person}
    {if $person->photo}
        {var $img = "photos/thumbnail/" . $person->photo}
    {else}
        {var $img = "anonymous.jpg"}
    {/if}
    {if $person->hasProfile}
        <a href="{plink Profil:default, $person->slug}" class="tree-small">
            <span class="portrait overlay">Více info</span>
            <img src="{$basePath}/static/img/{$img}" data-original="{$person->photo}" class="portrait rounded small">
        <span class="person-name">
            {$person->firstname}<br>{$person->lastname}
        </span>
        </a>
    {else}
        <a href="javascript:;" class="tree-small">
            <img src="{$basePath}/static/img/{$img}" data-original="{$person->photo}" class="portrait rounded small">
        <span class="person-name">
            {$person->firstname}<br>{$person->lastname}
        </span>
        </a>
    {/if}
{/if}
