{if $person}
    <div class="grid_20 text-center">
        <a href="{plink Profil:default, $person->slug}">
            <img src="{$basePath}/static/img/photos/thumbnail/{$person->photo}" class="portrait rounded"><br>
        </a>
    </div>
    <div class="grid_20 text-center">
        <a href="{plink Profil:default, $person->slug}">
            <span class="person-name">
                {$person->firstname}<br>{$person->lastname}
            </span>
        </a>
    </div>
{/if}