{block content}

<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>
<h1 class="hidden">Kariéra</h1>

<div class="container facts">
    <div class="grid_4 text-right">
        <span>3 skutečnosti:</span>
    </div>
</div>

<div class="container heading">
    <div class="grid_20 text-center fix-heading">
        <span class="heading">Finance mají budoucnost</span>
    </div>
    <div class="clearfix"></div>
    <div class="prefix_1 grid_9 text-right">
        <span class="heading small light-blue">Finance patří do &nbsp;života každého z nás</span>
    </div>
    <div class="grid_9">
        <span class="heading small">Kdo rozumí financím, &nbsp;&nbsp;budí respekt</span>
    </div>
</div>

<div class="container text">
    <div class="prefix_1 grid_18 suffix_1"><hr></div>
    <div class="prefix_2 grid_5">
        <h2>Profesní kariéra:</h2>
        <p>
            <strong>Sueragentura Praha II – region Praha II.</strong> Je cesta budování obchodní cítě v podnikatelském prostředí. ČSOB Pojišťovna a region SA Praha II. si velmi váží talentovaných, zdravě ambiciosních lidí. Těmto pracovníkům posykujeme ty nejkvalitnější formy vzdělání a rozvijíme jejich znalosti a dovednosti.
        </p>
    </div>
    <div class="grid_5">
        <p class="padding">
            Pomáháme jim startovat jejich profesní kariéru. Kvalitním a úspěšným obchodníkem a manažerem se nestanete jen teoretickými znalostmi,ale propojením znalostí, dovedností a osobních postojů.
            <br><br>
            Na SA Praha II. Chápeme kariéru především jako seberealizaci.
        </p>
    </div>
    <div class="grid_5 suffix_3">
        <p class="padding">
            Mnoho lidí si přichází do ČSOBP plnit své sny, chtějí být úspěšní a mít dostatek finančních prostředků ke splnění svých životních plánů a cílů.
            <br><br>
            <strong>Pravidla</strong> jsou velmi jednoduchá: naslouchat,důvěřovat,vzdělávat se a dodržovat systém.
        </p>
    </div>
</div>

{*
<div class="container text">
    <div class="prefix_1 grid_18 suffix_1"><hr></div>
    <div class="prefix_2 grid_18">
        <h2>Volné pracovní pozice:</h2>
    </div>
    <div class="prefix_3 grid_17">
        <div class="clearfix"></div>
        <div class="grid_3 bracket">
            <h3>
                Volné pozice
                <span class="big">Na hlavní pracovní poměr</span>
            </h3>
        </div>
        <div class="grid_12 links">
            <ul>
                <li><a href="#">IT Technik designér/ka</a></li>
                <li><a href="#">ACCOUNT MANAGER/KA PRO SMLUVNÍ SERVISY</a></li>
                <li><a href="#">Controller/ka senior PARDUBICE</a></li>
                <li><a href="#">KONZULTANT/KA - administrativní podpora obchodu</a></li>
            </ul>
        </div>
    </div>
    <div class="prefix_3 grid_17">
        <div class="clearfix"></div>
        <div class="grid_3 bracket">
            <h3>
                Volné pozice
                <span class="big">živnostenský list</span>
            </h3>
        </div>
        <div class="grid_12 links">
            <ul>
                <li><a href="#">IT Technik designér/ka</a></li>
                <li><a href="#">ACCOUNT MANAGER/KA PRO SMLUVNÍ SERVISY</a></li>
                <li><a href="#">Controller/ka senior PARDUBICE</a></li>
            </ul>
        </div>
    </div>
    <div class="prefix_3 grid_17">
        <div class="clearfix"></div>
        <div class="grid_3 bracket">
            <h3>
                Volné pozice
                <span class="big">brigáda</span>
            </h3>
        </div>
        <div class="grid_12 links">
            <span class="nothing">Aktuálně nenabízíme žádné volné pozice.</span>
        </div>
    </div>
</div>
*}

<div class="container text">
<div class="prefix_1 grid_18 suffix_1"><hr></div>
<div class="prefix_2 grid_18">
    <h2>Kariérní příběhy:</h2>
</div>

<div class="clearfix"></div>

{*<div class="prefix_2 grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/iveta-ulicna.jpg" class="portrait rounded">
</div>
<div class="grid_13 profile">
    <h3>
        <span class="big">Iveta</span><br>
        <span class="small">Uličná</span>
    </h3>

    <span class="position">Poradce</span>

    <p class="long">
        Bylo to v červnu 2002, když jsem šla na pohovor do ČSOB Pojišťovny.
    </p>
    <p class="long">
        Byla jsem po 3 letech praxe na učitelské pozici, několika letech zajišťování chodu vlastního obchodu, ale také po deseti letech mateřské dovolené… Doma jsme měla v tu dobu tří a sedmileté dítě. Neuměla jsme se pořádně vyjádřit a ani nevěděla, co vlastně chci. Byla jsem vystrašená z toho, co mne čeká. Se staženým žaludkem jsem nakonec nastoupila na místo přepážkové pracovnice.  Bylo to rozhodnutí, které mi změnilo život…
    </p>
    <p class="long">
        O pojišťovnictví jsem nevěděla vůbec nic. Přes počáteční ostych jsem si začala klienty zvát na přepážku. Vše jsem dělala tak, jak cítím. Maximálně jsem se jim věnovala.  Snažila jsem se najít pro ně vždy tu nejlepší variantu.   Po roce a půl jsem byla vyhlášena jako nejlepší nováček.
    </p>
    <p class="long">
        Postupně jsem přepážkovou činnost naučila několik svých kolegyň, a naopak mě časem nahradila kolegyně jiná. Začala jsme pracovat jako poradce. Musela jsem se tedy naučit dělat svou práci úplně jinak. Začít pojišťovat také podnikatele, navázat spolupráci s bankou ČSOB. Jezdila jsem z Benešova do Kladna několikrát do měsíce. Čerpala jsem zkušenosti praxí a chtěla sobě i ostatním dokázat, že budu nejlepší.
    </p>
    <p class="long">
        Za celou dobu v pojišťovně jsme několikrát dostala nabídky od makléřů.  „Ne,“ řekla jsem pokaždé. Jsem ráda u ČSOB Pojišťovny. Mám přece vazby na své klienty. Nemohu jen tak odejít.
    </p>
    <p class="long">
        Moje práce je nekonečná a krásná. Pro toho, kdo ji chce dělat dobře, je také těžká a tvrdá.
    </p>
    <p class="long">
        Z mých klientů se stali mnohdy moji přátelé. Dokonce jsem mezi nimi našla i svou nejlepší přítelkyni, nyní už i kolegyni.
    </p>
    <p class="long">
        Už si snad mohu dovolit říci, že jsem si vybudovala své jméno.  Na to jsem hrdá.
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 <strong>739 147 701</strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>iveta.ulicna@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, iveta-ulicna" class="profile">Přejít na profil Ivety</a>
</div>

<div class="clearfix"></div>*}

<div class="prefix_2 grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/jana-khodlova.jpg" class="portrait rounded">
</div>
<div class="grid_13 profile">
    <h3>
        <span class="big">Jana</span><br>
        <span class="small">Khodlová</span>
    </h3>

    <span class="position">Account manažerka</span>

    <p class="long">
        Deset let jsem pracovala jako pojišťovací poradce u konkurenční pojišťovny.  Přestěhovala jsem se a rozhodla se pro změnu. Na pohovoru v kanceláři ČSOB Pojišťovny v Benešově mne nadchla atmosféra, pozitivní přístup vedení i budoucích kolegů. Nepřemýšlela jsem a nastoupila jako pracovnice obchodního místa. Našla jsem zde nový impuls a vše mě začalo bavit a opět naplňovat.
    </p>
    <p class="long">
        Po čtyřech letech jsem dostala nabídku přejít na pozici firemního account managera.  Nová pozice pro mne znamenala učit se spoustě nových věcí, porozumět podnikatelskému pojištění, ale i dojíždět do Prahy. Neváhala jsem. Byla to pro mne nová výzva. Nyní na této pozici pracuji již tři roky a stále mi má „co dát“ a svojí práci mám ráda.
    </p>
    <p class="long">
        V ČSOB pojišťovně jsem našla i přátele a kamarády, se kterými vždy ráda trávím čas i mimo pracovní dobu.
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 <strong>603 349 802</strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>jana.khodlova@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, jana-khodlova" class="profile">Přejít na profil Jany</a>
</div>

<div class="clearfix"></div>

<div class="prefix_2 grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/lenka-michalkova.jpg" class="portrait rounded">
</div>
<div class="grid_13 profile">
    <h3>
        <span class="big">Lenka</span><br>
        <span class="small">Michálková</span>
    </h3>

    <span class="position">Asistentka regionální ředitelky</span>

    <p class="long">
        Do ČSOB Pojišťovny Praha II jsme nastoupila před dvěma roky na pozici asistentky.
    </p>
    <p class="long">
        Předtím jsem pracovala jako produkční ve vydavatelství, ale po mateřské dovolené jsem se nemohla přizpůsobit flexibilní pracovní době a musela práci změnit. Jsem kreativní člověk. Baví mne realizovat nové věci a být u jejich zrodu.
    </p>
    <p class="long">
        Pozici asistentky jsem přijala s obavami, jestli to nebude příliš nudná a stereotypní práce.
    </p>
    <p class="long">
        Nevím, jak je to jinde na pozici asistentky, ale u nás toto určitě neplatí.
    </p>
    <p class="long">
        Ve vedení našeho regionálního týmu ČSOB Pojišťovny je tým skvělých lidí, kteří svou práci milují a dělají ji s maximálním nasazením. Jsou otevření, vstřícní, přátelští. Snaží se vymýšlet stále něco nového a být vždy o krok napřed.
    </p>
    <p class="long">
        Díky nim je Superagentura místo, kam chodím do práce ráda.
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 <strong>604 228 826</strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>lenka.michalkova@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, lenka-michálková" class="profile">Přejít na profil Lenky</a>
</div>

<div class="clearfix"></div>

<div class="prefix_2 grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/olga-sirotkina.jpg" class="portrait rounded">
</div>
<div class="grid_13 profile">
    <h3>
        <span class="big">Olga</span><br>
        <span class="small">Sirotkina</span>
    </h3>

    <span class="position">Pracovník (ce) klientského obchodního místa</span>

    <p class="long">
        Jsem z Ruska, v Praze žiji 5 let. Moje láska k Praze začala asi před rokem. Všimla jsem si, že když letím domů za rodinou, chce se mi hned zpátky do Prahy, začala jsem být cizinkou ve městě, kde jsem se narodila a vyrostla. Praha je jemná, pomalejší, lidé zde mají čas si užívat svůj život, svojí rodinu, svoje koníčky, svojí kariéru. Zde nemáte pocit, že váš život letí a vy si ničeho nevšímáte kromě věčného kola práce-dům. Je trochu dětská, lidská, umí odpouštět chyby a dávat druhou šanci…
    </p>
    <p class="long">
        Moje druhá šance v Praze je ČSOB Pojišťovna. Potřebovala jsem vážný důvod, proč bych měla zůstat tady, důležitou věc, které bych se věnovala. Pro mě je to ČSOB Pojišťovna. Pojišťovna mi věří, věří v můj potenciál a mojí snahu. Což je pro mě velmi inspirativní a zároveň velká zodpovědnost.  Je mi ctí být součástí týmu ČSOB Pojišťovny, plánuji tady růst, zdokonalovat se jako profesionál  i jako osobnost. Tyto možnosti bohatě dávají mé povolání. Dřív jsem snila, teď plánuji. Dřív jsem se bála odpovědnosti, teď chápu, že odpovědnost je fundamentem této práce a úspěchu celkově. Dřív jsem byla víc sobecká, teď se přizpůsobuji klientovi, jeho přáním a požadavkům, věřím, že klient je náš pán, a když bude spokojený, tak budu spokojená i já. Abych se mohla profesionálně starat o portfolio pojištění klientů, pravidelně mívám školení, studuji vysokou školu a pracuji na sobě samé.
    </p>
    <p class="long">
        Chci zvítězit nad stereotypem, že pojišťovací poradce je někdo, kdo obtěžuje. Chci, aby mě klienti vnímali jako kamarádku rodiny, jako člověka, který se snaží pro jejich prospěch, stabilitu a spokojenost. Jsem otevřena pro komunikace s klienty a budu ráda za zpětnou vazbu od Vás.
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 775 098 600<strong></strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>olga.sirotkina@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, olga-sirotkina" class="profile">Přejít na profil Olgy</a>
</div>

<div class="clearfix"></div>

<div class="prefix_2 grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/ondrej-stanek.jpg" class="portrait rounded">
</div>
<div class="grid_13 profile">
    <h3>
        <span class="big">Ondřej</span><br>
        <span class="small">Staněk</span>
    </h3>

    <span class="position">Manažer</span>

    <p class="long">
        Lednímu hokeji jsem se věnoval od mládí, přes mládežnické reprezentace jsem se v roce 2002 dostal do prvního týmu HC Slavia Praha, se kterou jsem slavil v roce 2003 extraligový titul a v roce 2004 se stal vicemistrem.
    </p>
    <p class="long">
        Po anabázích v prvoligových mužstvech a shodou různých okolností přišel v roce 2008 zlom. Jako mnozí další spoluhráči i já jsem po skončené sezoně hledal nové angažmá. Bohužel se nenašlo nic adekvátního a já začal přemýšlet, kam by se můj život a kariéra měla ubírat dál.
    </p>
    <p class="long">
        I když jsem nevěděl, co očekávat od finančního sektoru, zaujala mne nabídka ČSOB Pojišťovny a nešlo pouze o lákadlo velké firmy, prvořadý byl pro mě přístup nadřízených a přátelská, profesionální atmosféra v týmu jako takovém.
    </p>
    <p class="long">
        Po dvou letech se začal směr mé kariéry opět měnit a od roku 2011 zastávám funkci oblastního ředitele. Z této nabídky jsem byl opravdu překvapený, ale jelikož jsem hodně ambiciózní člověk, s velkým nadšením jsem se pustil do nové výzvy. Moje obchodní skupina se v letech 2012 a 2013 umístila mezi TOP10 celé pojišťovny.
    </p>
    <p class="long">
        Tato práce mě plně naplňuje, v mnoha ohledech se dá přirovnat ke sportovnímu prostředí, které je mi stále blízké, protože i zde působíme jako tým, tým kde se na sebe můžeme maximálně spolehnout.
    </p>
    <p class="long">
        Práce v ČSOB Pojišťovně mi dává prostor potkávat se s lidmi nejrůznějšího postavení, navíc je časově flexibilní a člověk se může věnovat i dalším věcem, v mém případě studiu, přítelkyni a samozřejmě sportu, který, sice již jen rekreačně, dělám nadále.
    </p>

    <span class="contact-name">Tel.: 604 706 452</span>
    <span class="contact-item">+420 <strong></strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>ondrej.stanek@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, ondrej-stanek" class="profile">Přejít na profil Ondřeje</a>
</div>

<div class="clearfix"></div>

<div class="prefix_2 grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/robert-dubsky.jpg" class="portrait rounded">
</div>
<div class="grid_13 profile">
    <h3>
        <span class="big">Robert</span><br>
        <span class="small">Dubský</span>
    </h3>

    <span class="position">Poradce</span>

    <p class="long">
        Patřím mezi první členy nově vzniklé pobočky ČSOB Pojišťovny a jsem na to patřičně hrdý. Počátky mého fungování se datují k roku 2006, kdy jsem se potkal na pohovoru s paní ředitelkou Danou Mrázkovou.
    </p>
    <p class="long">
        Byla to pro mě  tehdy první zkušenost v oblasti pojišťovnictví a finanční sféře. Považuji se za velmi konzervativního člověka a měl jsem velmi dobře placené zaměstnání s aktivním využitím anglického jazyka. Po první schůzce jsem si byl jist, že chci být součástí nově vzniklého týmu kolem paní ředitelky.
    </p>
    <p class="long">
        Je pro mě velmi důležité pracovat ve společnosti lidí, kteří jsou úspěšní a rozšiřují mi obzory. Jsou přátelští a mohu se na ně kdykoliv spolehnout. Toto vše jsem našel.
    </p>
    <p class="long">
        Na mojí pozici reprezentanta seniora mám možnost potkávat zajímavé, úspěšné lidi z různorodých oborů. Zároveň mě práce velmi baví a naplňuje. Několikrát jsem se umístil mezi nejlepšími poradci ČSOB Pojišťovny. V našem regionu ČSOB Pojišťovny Praha II. mám možnost na sobě dále pracovat, posouvat se jak profesionálně, tak po lidské stránce.
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 <strong>777 045 130</strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>robert.dubsky@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, robert-dubsky" class="profile">Přejít na profil Roberta</a>
</div>
</div>

<div class="container text">
    <div class="prefix_1 grid_18 suffix_1"><hr></div>
    <div class="prefix_2 grid_5">
        <h3>Proč si vybrát právě nás:</h3>
        <p>
            <strong>Sueragentura Praha II – region Praha II.</strong> Je cesta budování obchodní cítě v podnikatelském prostředí. ČSOB Pojišťovna a region SA Praha II. si velmi váží talentovaných, zdravě ambiciosních lidí. Těmto pracovníkům posykujeme ty nejkvalitnější formy vzdělání a rozvijíme jejich znalosti a dovednosti.
        </p>
    </div>
    <div class="grid_5">
        <p class="padding">
            Pomáháme jim startovat jejich profesní kariéru. Kvalitním a úspěšným obchodníkem a manažerem se nestanete jen teoretickými znalostmi,ale propojením znalostí, dovedností a osobních postojů.
            <br><br>
            Na SA Praha II. Chápeme kariéru především jako seberealizaci.
        </p>
    </div>
    <div class="grid_5 suffix_3">
        <p class="padding">
            Mnoho lidí si přichází do ČSOBP plnit své sny, chtějí být úspěšní a mít dostatek finančních prostředků ke splnění svých životních plánů a cílů.
            <br><br>
            <strong>Pravidla</strong> jsou velmi jednoduchá: naslouchat,důvěřovat,vzdělávat se a dodržovat systém.
        </p>
    </div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">Co vás ještě</span>&nbsp;&nbsp;
        <span class="big">zajímá?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>