{foreach $employees as $person}
    <table>
        <tr>
            <td>
                <img src="{$basePath}/static/img/photos/thumbnail/{$person->photo}" width="80">
            </td>
            <td style="width: 500px">
                <table>
                    <tr>
                        <td>
                            {$person->position}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {$person->firstname} {$person->lastname}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {$person->email}
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <a n:href="edit, $person->id">Upravit</a>
            </td>
        </tr>
    </table>
{/foreach}