{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Správa zaměstnanců</h2>
    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a n:href="Zamestnanci:pridat" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i> Přidat nového zaměstnance</a>
                <div class="widget wred">
                    <div class="widget-head">
                      <div class="pull-left">Zaměstnanci</div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th>#</th>
                                  <th><strong>Příjmení</strong></th>
                                  <th><strong>Jméno</strong></th>
                                  <th><strong>Pozice</strong></th>
                                  <th><strong>Fotografie</strong></th>
                                  <th><strong>Podpis</strong></th>
                                  <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr n:foreach="$employees as $employee">
                                  <td>{$employee->id}</td>
                                  <td><strong>{$employee->lastname}</strong></td>
                                  <td>{$employee->firstname}</td>
                                  <td>{$employee->rank->name}</td>
                                  <td>
                                    <span style="color: green" n:if="$employee->photo">ANO</span>
                                    <span style="color: red" n:if="!$employee->photo">NE</span>
                                  </td>
                                  <td>
                                    <span style="color: green" n:if="$employee->signature">ANO</span>
                                    <span style="color: red" n:if="!$employee->signature">NE</span>
                                  </td>
                                  <td>
                                    <a n:href="editovat, $employee->id">
                                        <i class="fa fa-pencil"></i> &nbsp; Editovat
                                        &nbsp;&nbsp;
                                    </a>
                                    <a n:href="odstranit!, $employee->id" n:if="!$employee->sub">
                                        <i class="fa fa-trash-o text-danger"></i>
                                        &nbsp; Odstranit
                                    </a>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>