{block content}
<div class="page-head">
    <h2 class="pull-left" n:block="title">Přidání nového zaměstnance</h2>
    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wgreen">
                    <div class="widget-head">
                      <div class="pull-left">Nový zaměstnanec</div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                      <div class="padd">
                            {form userCreateForm, class => form-horizontal}
                                {foreach $form->getErrors() as $error}
                                    <div class="alert alert-danger">
                                        {$error}
                                    </div>
                                {/foreach}
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Profil</label>
                                    <div class="col-md-3">
                                        {input hasProfile, class => form-control} Zaměstnanec nebude mít profil
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Jméno</label>
                                  <div class="col-md-3">
                                    {input firstname, class => form-control}
                                  </div>
                                  <label class="col-md-2 control-label">Šestý pád jména</label>
                                  <div class="col-md-3">
                                    {input sestypad, class => form-control}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Příjmení</label>
                                  <div class="col-md-8">
                                    {input lastname, class => form-control}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Pozice</label>
                                  <div class="col-md-8">
                                    {input rank}
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nadřízený</label>
                                    <div class="col-md-8">
                                        {input higher, class => form-control}
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">E-mail</label>
                                  <div class="col-md-8">
                                    {input email, class => form-control}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Telefon</label>
                                  <div class="col-md-8">
                                    {input mobile, class => form-control}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Profil</label>
                                  <div class="col-md-8">
                                    {input profile, class => form-control, style => 'height: 150px;'}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Podrobnější informace</label>
                                  <div class="col-md-8">
                                    {input more, class => form-control, style => 'height: 150px;'}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Motto</label>
                                  <div class="col-md-8">
                                    {input motto, class => form-control, style => 'height: 150px;'}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">V čem je nejlepší?</label>
                                  <div class="col-md-8">
                                    {input bestin, class => form-control, style => 'height: 150px;'}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Adresa</label>
                                  <div class="col-md-8">
                                    {input address, class => form-control}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Fotografie</label>
                                  <div class="col-md-8">
                                    {input photo}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Podpis</label>
                                  <div class="col-md-8">
                                    {input signature}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Pracoviště</label>
                                  <div class="col-md-8">
                                    {input offices}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-md-offset-2 col-md-8">
                                    {input send, class => 'btn btn-success'}
                                  </div>
                                </div>
                            {/form}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>