{block content}

<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
        </ul>
    </div>
</div>

<div class="container foreigners">
<div class="prefix_3 grid_15 suffix_2">
<h1>
    <span class="small">ČSOB Pojišťovna</span><br>
    <span class="big">offers all services in other languages.</span>
</h1>

<p>
    ČSOB Pojišťovna is able to provide you complete insurance services and customer services.<br><br>
    ČSOB Pojišťovna a.s. makes very deep and long – term relationship, with our clients. Also she takes
    care regularly about them.
    Firstly we are able to react to clients needs.
    Secondary we offer to clients advice with the most optimal solutions for their needs.
    All clients feel very comfortable, safety with professional and the right one advisor who is able to
    help you and give you assurance.
    Due to we want to be closest to all clients from over the world, we are offering services in foreign
    languages.
    Please, just let to choose the adviser who will be the the most suitable for you.
</p>

<br>

<div class="grid_4">
    <h2>In English</h2>
</div>
<div class="clearfix"></div>

<div class="grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/gabriela-havlova.jpg" class="portrait rounded">
</div>
<div class="grid_9 profile">
    <h3>
        <span class="big">Gabriela</span><br>
        <span class="small">Havlová</span>
    </h3>

    <span class="position">Advisor</span>

    <p>
        My name is Gabriela Havlová. I´m 27 years old.<br><br>

        Im manageress of the team mostly young people. Im been woking in ČSOB

        Insurace a.s. for three years.

        Im started as a insurance broker, after two years I became manageress.<br>

        I used to work in completely different jobs, as I wanted to become in completely

        different work position.<br><br>

        My life was directed more to travel enviroment. Thats why I´ve studied one year

        In Australia, also in Spain.<br><br>

        I couldnt ever imagine that I would work in insurance company even though my

        mother is a Regional Director.<br><br>

        Nowadays I cant imagine to work in another job, in other company.

        I find out the job which completely fit on me. My work gives me everything.

        I can say, my work gives me wings. Wings which helping me go throw of life

        with satisfaction, succes, with confidence that Im in the right place and doing

        something what makes sence and results.<br><br>

        As I said I have the team of young people.

        The most importante for me is to behave them to be advisors not the seller and

        we are doing very well. Level of their quality and professionalism is my and their

        priority.<br><br>

        We are helping people and advising to clients so that the cause they have a sure. I

        behaved them to feel the clients like a human no money. The clients are for us in

        the first place.

        Even thought is very hard work, with minumum of free time. I would´nt ever

        change it for nothing.
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 <strong>725 496 786</strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>gabriela.havlova@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, gabriela-havlova" class="profile">Přejít na profil Gabriely</a>
</div>

<div class="clearfix"></div>

<div class="grid_4">
    <h2>In Russian</h2>
</div>

<div class="clearfix"></div>

<div class="grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/jevgenij-silkin.jpg" class="portrait rounded">
</div>
<div class="grid_9 profile">
    <h3>
        <span class="big">Jevgenij</span><br>
        <span class="small">Šilkin</span>
    </h3>

    <span class="position">Advisor</span>

    <p>
        Добрый день,

        меня зовут Евгений Шилкин. В Чехии я уже 13 лет. В страховой компании

        работаю с 2011 года. За 2 года работы в ЧСОБ страховой компании я

        приобрел множество знаний в финансовой сфере. Специализируюсь

        на страховании фирм. Я всегда стараюсь найти самое лучшее и

        оптимальное решение для своих клиентов. Моей главной целью

        является не подписание договора, а забота о моих клиентах. В

        случае страхового случая я всегда готов Вам помочь с  сообщением о

        страховом случае со сборов всей необходимой информации для того,

        чтобы ускорить процесс.
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 <strong>774 202 951</strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>jevgenij.silkin@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, jevgenij-silkin" class="profile">Přejít na profil Jevgenija</a>
</div>

<div class="clearfix"></div>

<div class="grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/olga-sirotkina.jpg" class="portrait rounded">
</div>
<div class="grid_9 profile">
    <h3>
        <span class="big">Olga</span><br>
        <span class="small">Sirotkina</span>
    </h3>

    <span class="position">Advisor</span>

    <p>
        Я из России, живу в Праге 5 лет. Но по-настоящему я полюбила этот город

        около года назад – бывая в России дома со своей семьей, я поняла, что скучаю

        по Праге, что чувствую себя немного иностранкой в городе, где я родилась и

        выросла. Прага город мягкий, неторопливый, люди здесь имеют возможность

        не спеша наслаждаться жизнью, семьей, хобби, карьерой, здесь нет чувства,

        что жизнь утекает, а Вы не замечаете ничего кроме вечного круга работа-дом…

        Прага – город человечный и дающий второй шанс.

        Моим вторым шансом в Праге стала ČSOB Pojišťovna. Я искала серьезное

        основание для того, чтобы жить в Чехии, что-то, чему я могла бы себя

        посвятить. Для меня честь работать в этой компании. ČSOB Pojišťovna дает

        большую возможность расти и развиваться как профессионал и личность.

        Раньше я мечтала, теперь планирую. Раньше я боялась ответственности, теперь

        я понимаю, что ответственность является основой для этой профессии и для

        успеха в жизни. Раньше я была более эгоистична, но при работе с людьми

        научилась ставить потребности и пожелания клиента на первое место, стала

        более отзывчивой. Я верю, что клиент – это наш господин, и когда клиент

        доволен, довольна и я. Уровень квалификации является моим приоритетом, для

        его поддержания и повышения я регулярно прохожу профессиональные курсы,

        принимаю участие в конкурсах, получаю второе высшее образование и работаю

        над своим внутренним развитием. За время моей работы в ČSOB Pojišťovně я

        обрела десятки довольных клиентов, помогла многим семьям. Мои клиенты -

        моя самая большая гордость и вдохновение каждого дня.

        Я бы хотела победить стереотип о страховании, сложившийся у русских людей,

        с пользой для клиента позаботиться о его страховой охране и показать себя как

        друг семьи. Я открыта для Вас и буду рада контакту с Вашей стороны.
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 <strong>775 098 600</strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>olga.sirotkina@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, olga-sirotkina" class="profile">Přejít na profil Olgy</a>
</div>

<div class="clearfix"></div>

<div class="grid_4">
    <h2>In Vietnamese</h2>
</div>
<div class="clearfix"></div>

<div class="grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/dang-van-phong.jpg" class="portrait rounded">
</div>
<div class="grid_9 profile">
    <h3>
        <span class="big">Dang</span><br>
        <span class="small">Van Phong</span>
    </h3>

    <span class="position">Advisor</span>

    <p>
        Tốt nghiệp trung học.

        Sống thật thà, đàng hoàng.

        Thời gian rỗi cho gia đình và con cái.

        Luôn có việc làm với hãng bảo hiểm.

        Sống ở séc đã 25 năm.
    </p>
</div>

<div class="clearfix"></div>

<div class="grid_4">
    <h2>In Slovak</h2>
</div>

<div class="clearfix"></div>

<div class="grid_4">
    <img src="{$basePath}/static/img/photos/thumbnail/filip-kroslak.jpg" class="portrait rounded">
</div>
<div class="grid_9 profile">
    <h3>
        <span class="big">Filip</span><br>
        <span class="small">Krošlák</span>
    </h3>

    <span class="position">Advisor</span>

    <p>
        Už od malička som chcel pomáhať ľuďom. Najprv ako šerif, potom

        ako lekár, nakoniec som sa vybral cestou poistenia. Poistenie pre mňa

        znamená príležitosť pomôcť. Pomôcť zabezpečiť istotu a rezervu pre

        Vás a Vašich najbližších. Je to práca, ktorá mi dáva veľa. Práca, ktorá

        ma baví. Práca, do ktorej som sa zamiloval...
    </p>

    <span class="contact-name">Tel.:</span>
    <span class="contact-item">+420 <strong>607 086 180</strong></span>

    <br>

    <span class="contact-name">Email:</span>
    <span class="contact-item email"><strong>filip.kroslak@obchod.csobpoj.cz</strong></span>

    <br><br>

    <a n:href="Profil:default, filip-kroslak" class="profile">Přejít na profil Filipa</a>
</div>

<div class="clearfix"></div>

</div>
</div>