{block content}

<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<h1 class="hidden">Proč ČSOB pojišťovnu?</h1>

<div class="container">
    <div class="grid_20 text-center image-heading">
        <img src="{$basePath}/static/img/pojisteni-je-dobre.png">
    </div>
</div>

<div class="container text">
    <div class="prefix_2 grid_5">
        <p>
            Pro mnoho lidí je bohužel ještě stále hlavním faktorem v rozhodování při koupi pojištění jeho cena. Přitom

            mnohem důležitější než otázka ceny je, co za své peníze obdrží a jaké získá služby a odškodnění v případě

            pojistné události.<br> <strong>Hlavní otázka pro sjednání kvalitního pojištění tedy není „Kolik budu platit?“ ale „Co v případě

                pojistné události obdržím a jak rychlé to bude?“.</strong>
        </p>
    </div>
    <div class="grid_5">
        <p>
            Skutečnost, že v důsledku maximálního důrazu na cenu pojištění ušetřím pár desetikorun nebo stokorun

            může ve výsledku znamenat stotisícové rozdíly v pojistném plnění. Zásadní je také správné nastavení pojistné

            smlouvy. <strong>Smlouva musí splňovat individuální potřeby konkrétního klienta.</strong>

            Životní situace (životní etapa, partner, děti, zaměstnání, majetek) a tím pádem potřeby každého z nás jsou velmi odlišné.
        </p>
    </div>
    <div class="grid_5 suffix_3">
        <p>
            Pro člověka, který se nepohybuje ve světě finančnictví a pojišťovnictví není zcela jednoduché se v těchto věcech orientovat.
            <br>
            <br>
            <strong>
                Proto je velmi důležité mít skutečně dobrého pojišťovacího poradce.
            </strong>
        </p>
    </div>
</div>

<div class="container">
    <div class="grid_20 text-center text-heading">
        <h2>
            Jak
            <span>rozlišit prodejce a poradce?</span>
        </h2>
    </div>
</div>

<div class="container text">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_5">
        <p>
            <strong>Prodejce je primárně zaměřený na prodej zboží nebo produktů</strong>, bez ohledu na skutečné potřeby klienta. <br><br>
            Jeho hlavním argumentem bývá cena a používá věty typu „To musíte mít, jinak…“.
        </p>
    </div>
    <div class="grid_5">
        <p>
            <strong>Dobrý poradce ví, že pojištění není nic víc ani nic míň než dobrá rada.</strong>
            Radí vám tak, jak by radil svým nejbližším. Zajímá se o vaše potřeby, vaši rodinu a vaše přání. Nedává instrukce, ale společně s vámi hledá řešení.
        </p>
    </div>
    <div class="grid_5 suffix_3">
        <p>
            I poradce chce samozřejmě ve výsledku prodat pojištění, protože to je jeho obživa, <strong> prodej však pro něj není prvoplánovým cílem, ale výsledkem jeho
            poradenství.</strong>
        </p>
    </div>
</div>

<div class="container">
    <div class="grid_20 text-center text-heading">
        <h2>
            Kdo je
            <span>dobrý pojišťovací poradce?</span>
        </h2>
    </div>
</div>

<div class="container text">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_5">
        <p>
            <strong>Dobrý poradce se svými klienty navazuje dlouhodobé vztahy a pravidelně o ně pečuje.</strong>
            Umí reagovat na klientovy potřeby
        </p>
    </div>
    <div class="grid_5">
        <p>
            a nabídnout mu radu a nejvhodnější řešení. S dobrým poradcem se klient cítí bezpečně a ví, že <strong>vždy dodrží své slovo.</strong>
        </p>
    </div>
    <div class="grid_5 suffix_3">
        <p>
            <strong>Dobrý poradce klientům nelže.</strong> Klient si musí sám uvědomit, zda chce využívat služby poradce, nebo mu stačí prodejce.
        </p>
    </div>
</div>

<div class="container">
    <div class="grid_20 text-center text-heading">
        <h2>
            Co
            <span>každý z nás upřednostňuje?</span>
        </h2>
    </div>
</div>

<div class="container text">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_16 suffix_2">
        <ul class="whyus">
            <li>mít nejlevnějšího řemeslníka nebo mít šikovného a spolehlivého řemeslníka?</li>
            <li>mít doktora, který léčí nebo mít doktora, který ví, co léčí?</li>
            <li>chodit k nejlevnější kadeřnici nebo chodit ke kadeřnici, která skutečně umí?</li>
        </ul>
        <p>
            Stejně tak by si měl klient položit otázku, zda chce být nějak - hlavně levně pojištěn, nebo chce být pojištěn skutečně dobře.
            <strong>Pokud upřednostňujete kvalitu před nejnižší cenou za každou cenu, pak byste měli mít svého poradce.</strong>
        </p>

        <p>
            Přijďte k nám se přesvědčit, jak může dobré poradenství v oblasti pojištění fungovat. <strong>Jsme tu pro vás.</strong>
        </p>
    </div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">Co vás ještě</span>&nbsp;&nbsp;
        <span class="big">zajímá?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>