<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ČSOB Pojišťovna</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" href="{$basePath}/static/css/normalize.css">
    <link rel="stylesheet" href="{$basePath}/static/css/grid.css">
    <link rel="stylesheet" href="{$basePath}/static/css/main.css">
    <link rel="stylesheet" href="{$basePath}/static/css/lightbox.css">
    <link rel="stylesheet" type="text/css" href="http://fetchak.com/ie-css3/ie-css3.htc">

    <!-- JS files -->
    <script src="{$basePath}/static/js/modernizr-2.6.2.min.js"></script>

    <script n:syntax="off">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     
      ga('create', 'UA-51000005-1', 'pojistovnapraha.cz');
      ga('send', 'pageview');
     
    </script>
</head>

<body>
	<style type="text/css">
		#tracy-debug-bar { display:none; }
	</style>

	{include content}

	{block scripts}
    <script src="{$basePath}/static/js/jquery-1.10.2.min.js"></script>
    <script src="{$basePath}/static/js/main.js"></script>
    <script src="{$basePath}/static/js/lightbox.js"></script>
    <script src="{$basePath}/static/js/pie.js"></script>
	{/block}
</body>
</html>
