{block content}

<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<h1 class="hidden">Více o ČSOB</h1>

<div class="container facts">
    <div class="grid_5 text-right">
    </div>
</div>

<div class="container heading big-quotes">
    <div class="grid_20 text-center">
        <span class="heading team">Týmová kultura</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="prefix_1 grid_9 text-right">
        <span class="heading small light-blue white-font">Budeme stavět<br>&nbsp;na těch, kteří chtějí</span>
    </div>
    <div class="grid_9">
        <span class="heading moral">Morální zásady</span>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <br><br><span class="heading small light-blue white-font light">Práce jako poslání</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center fix-heading">
        <span class="heading client">Klient na 1. místě</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <span class="heading small light-blue white-font light team">Tým je víc než jedinec</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <span class="heading team small">Vztahová politika</span>
    </div>
</div>

<div class="container text">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_5">
        <h2>Proč a co děláme?</h2>

        <p>
            <strong>Sueragentura Praha II – region Praha II. - </strong> je cesta budování obchodní

             cítě v podnikatelském prostředí. Velmi si vážíme talentovaných, zdravě

             ambiciosních lidí. Těmto pracovníkům posykujeme ty nejkvalitnější formy

             vzdělání a rozvijíme jejich znalosti a dovednosti.
        </p>
    </div>
    <div class="grid_5">
        <p class="padding">
            Pomáháme jim startovat jejich profesní kariéru. Kvalitním obchodníkem

            a manažerem se nestanete jen teoretickými znalostmi,ale propojením

            znalostí, dovedností a osobních postojů.
            <br><br>
            Kariéru chápeme především jako seberealizaci.
        </p>
    </div>
    <div class="grid_5 suffix_3">
        <p class="padding">
            Mnoho lidí si k nám přichází plnit své sny. Chtějí být úspěšní, mít

            dostatek finančních prostředků ke splnění svých životních plánů a cílů.
            <br><br>
            <strong>Pravidla</strong> jsou velmi jednoduchá: naslouchat,důvěřovat,vzdělávat se a dodržovat systém.
        </p>
    </div>
</div>

<div class="container text hierarchy">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_18">
        <h2>Představujeme se</h2>
    </div>
    <div class="grid_20 text-center">
        <h3 class="position head">Regionální ředitelka</h3>
    </div>
    {control person, id => 3, type => tree-big}
    <div class="grid_20 text-center">
        <h3 class="position">Account manažeři</h3>

        <div class="prefix_8">
            <div class="grid_2 photo" n:foreach="$tree[7]['employees'] as $employee">
                {control person, id => $employee->id, type => tree-small}
            </div>
        </div>
    </div>
    <div class="grid_20 text-center">
        <h3 class="position">Asistentky</h3>

        <div class="prefix_6">
            <div class="grid_2 photo" n:foreach="$tree[6]['employees'] as $employee">
                {control person, id => $employee->id, type => tree-small}
            </div>
        </div>
    </div>
    <div class="grid_20 text-center">
        <h3 class="position">Manažeři</h3>

        <div class="prefix_6">
            <div class="grid_2 photo" n:foreach="$tree[3]['employees'] as $employee">
                {control person, id => $employee->id, type => tree-small}
            </div>
        </div>
    </div>
	<div class="grid_20 text-center">
		<h3 class="position">Generální reprezentant</h3>

		<div class="prefix_9">
            <div class="grid_2 photo" n:foreach="$tree[2]['employees'] as $employee">
                {control person, id => $employee->id, type => tree-small}
            </div>
        </div>
	</div>
    <div class="grid_20 text-center">
        <h3 class="position">Pracovníci klientského obchodního místa</h3>
        {foreach $tree[5]['employees'] as $employee}
        <div class="{if $iterator->getCounter() == 12}prefix_5{/if} grid_2 photo">
            {control person, id => $employee->id, type => tree-small}
        </div>
        {/foreach}
    </div>
    <div class="grid_20 text-center">
        <h3 class="position">Poradci</h3>
        {foreach $tree[4]['employees'] as $employee}
            <div class="{if $iterator->getCounter() == 34}prefix_3{/if} grid_2 photo">
                {control person, id => $employee->id, type => tree-small}
            </div>
        {/foreach}
    </div>



<div class="container news text">
    <div class="prefix_1 grid_18 suffix_1 padding">
        <hr>
    </div>
    <div class="prefix_2 grid_18">
        <h2>Poslední aktuality</h2>
    </div>
    <div class="prefix_3 grid_16 padding" n:foreach="$actualities as $actuality">
        <div class="prefix_3 divider">
            <hr>
        </div>
        <div class="grid_4">
            {if $actuality->photos}
                {foreach $actuality->photos as $photo}
                    {if $iterator->isFirst()}
                        <a href="{$basePath}/static/img/udalosti/upload/{$photo->name}" data-lightbox="{$actuality->title|webalize}">
                            <img src="{$basePath}/static/img/udalosti/upload/thumb_{$photo->name}" class="thumbnail">
                        </a>
                    {/if}
                {/foreach}
            {else}
                <img src="{$basePath}/static/img/udalosti/no-photo.png">
            {/if}
        </div>
        <div class="grid_10">
            <span class="date">
                {$actuality->date}
            </span>
            <h3>{$actuality->title}</h3>
            <p>
                {$actuality->perex|noescape}
            </p>
            {if $actuality->photos}
                {foreach $actuality->photos as $photo}
                    {if $iterator->isFirst()}
                        <a href="{$basePath}/static/img/udalosti/upload/{$photo->name}" data-lightbox="{$actuality->title|webalize}" class="photo-gallery">Fotogalerie</a>
                    {else}
                        <a href="{$basePath}/static/img/udalosti/upload/{$photo->name}" data-lightbox="{$actuality->title|webalize}" class="photo-gallery hidden"></a>
                    {/if}
                {/foreach}
            {/if}
        </div>
    </div>

    {*<div class="prefix_7 grid_10">
        <ul class="links">
            <li><a class="bigger" n:href="Archiv:default">Všechny aktuality</a></li>
        </ul>
    </div>*}
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">Co vás ještě</span>&nbsp;&nbsp;
        <span class="big">zajímá?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>
