{block content}

<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<h1 class="hidden">Více o ČSOB</h1>

<div class="container facts">
    <div class="grid_5 text-right">
        <span>7 zásad superagentury</span>
    </div>
</div>

<div class="container heading big-quotes">
    <div class="grid_20 text-center">
        <span class="heading team">Týmová kultura</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="prefix_1 grid_9 text-right">
        <span class="heading small light-blue white-font">Budeme stavět<br>&nbsp;na těch, kteří chtějí</span>
    </div>
    <div class="grid_9">
        <span class="heading moral">Morální zásady</span>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <br><br><span class="heading small light-blue white-font light">Práce jako poslání</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center fix-heading">
        <span class="heading client">Klient na 1. místě</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <span class="heading small light-blue white-font light team">Tým je víc než jedinec</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <span class="heading team small">Vztahová politika</span>
    </div>
</div>

<div class="container text">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_5">
        <h2>Proč a co děláme?</h2>

        <p>
            <strong>Sueragentura Praha II – region Praha II.</strong> Je cesta budování obchodní cítě v podnikatelském prostředí. ČSOB Pojišťovna a region SA Praha II. si
            velmi váží talentovaných, zdravě ambiciosních lidí. Těmto pracovníkům posykujeme ty nejkvalitnější formy vzdělání a rozvijíme jejich znalosti a dovednosti.
        </p>
    </div>
    <div class="grid_5">
        <p class="padding">
            Pomáháme jim startovat jejich profesní kariéru. Kvalitním a úspěšným obchodníkem a manažerem se nestanete jen teoretickými znalostmi,ale propojením znalostí,
            dovedností a osobních postojů.
            <br><br>
            Na SA Praha II. Chápeme kariéru především jako seberealizaci.
        </p>
    </div>
    <div class="grid_5 suffix_3">
        <p class="padding">
            Mnoho lidí si přichází do ČSOBP plnit své sny, chtějí být úspěšní a mít dostatek finančních prostředků ke splnění svých životních plánů a cílů.
            <br><br>
            <strong>Pravidla</strong> jsou velmi jednoduchá: naslouchat,důvěřovat,vzdělávat se a dodržovat systém.
        </p>
    </div>
</div>

<div class="container text hierarchy">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_18">
        <h2>Hierarchie</h2>
    </div>
    {control person, id => 3, type => tree-big}
    <div class="grid_20 text-center">
        <h3 class="position head">Regionální ředitelka</h3>
    </div>
    <div class="grid_20 text-center"><img src="{$basePath}/static/img/spider.png" style="position: relative; left: 25px;"></div>
    <div class="grid_4 text-center">
        <h3 class="position">Account manažeři</h3>

        <div class="photo">
            {control person, id => 30, type => tree-small}
        </div>
        <div class="photo">
            {control person, id => 31, type => tree-small}
        </div>
    </div>
    <div class="grid_4 text-center">
        <h3 class="position">Asistentka</h3>

        <div class="photo one">
            {control person, id => 21, type => tree-small}
        </div>
    </div>
    <div class="grid_9 text-center">
        <h3 class="position">Manažeři</h3>

        <div class="photo extented active" data-name="ondrej-stanek">
            {control person, id => 7, type => tree-small}
        </div>
        <div class="photo extented" data-name="marie-holubova">
            {control person, id => 33, type => tree-small}
        </div>
        <div class="photo extented" data-name="stepanka-fiserova">
            {control person, id => 15, type => tree-small}
        </div>
        <div class="photo extented" data-name="gabriela-havlova">
            {control person, id => 12, type => tree-small}
        </div>
        <div class="photo extented" data-name="milan-mares">
            {control person, id => 49, type => tree-small}
        </div>
    </div>
    <div class="grid_3 text-center">
        <h3 class="position">Generální reprezentant</h3>

        <div class="photo one extented" data-name="eva-dvorakova">
            {control person, id => 8, type => tree-small}
        </div>
    </div>
    <div class="grid_20 text-center"><img src="{$basePath}/static/img/spider-small.png" style="position: relative; left: 163px;"></div>
    <div id="ondrej-stanek" class="sub-person">
        <div class="prefix_3 grid_7 text-center">
            <h3 class="position">Poradci</h3>

            <div class="photo">
                {control person, id => 6, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 14, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 9, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 10, type => tree-small}
            </div>
        </div>
        <div class="prefix_1 grid_7 text-center">
            <h3 class="position">Pracovníci klientského obchodního místa</h3>

            <div class="photo" style="margin-left: 145px">
                {control person, id => 20, type => tree-small}
            </div>
        </div>
    </div>
    <div id="marie-holubova" class="sub-person hidden">
        <div class="prefix_3 grid_7 text-center">
            <h3 class="position">Poradci</h3>
            <div class="photo">
                {control person, id => 43, type => tree-small}
            </div>
            <div class="photo no-photo">
                Olzsowa Martina
            </div>
            <div class="photo no-photo">
                Maštová Petra
            </div>
            <div class="photo no-photo">
                Kanalasová Romana
            </div>
            <div class="photo no-photo">
                Marešová Oldřiška
            </div>
            <div class="photo no-photo">
                Najmanová Tereza
            </div>
        </div>
        <div class="prefix_1 grid_7 text-center">
            <h3 class="position">Pracovníci klientského obchodního místa</h3>
            <div class="photo" style="margin-left: 85px">
                {control person, id => 38, type => tree-small}
            </div>
            <div class="photo no-photo">
                Olzsowa Martina
            </div>
        </div>
    </div>
    <div id="stepanka-fiserova" class="sub-person hidden">
        <div class="prefix_3 grid_7 text-center">
            <h3 class="position">Poradci</h3>
            <div class="photo">
                {control person, id => 43, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 13, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 18, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 27, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 44, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 45, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 42, type => tree-small}
            </div>
        </div>
        <div class="prefix_1 grid_7 text-center">
            <h3 class="position">Pracovníci klientského obchodního místa</h3>
            <div class="photo">
                {control person, id => 29, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 25, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 52, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 54, type => tree-small}
            </div>
        </div>
    </div>
    <div id="gabriela-havlova" class="sub-person hidden">
        <div class="prefix_3 grid_7 text-center">
            <h3 class="position">Poradci</h3>
            <div class="photo">
                {control person, id => 41, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 17, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 47, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 53, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 46, type => tree-small}
            </div>
            <div class="photo no-photo">
                Bártová Veronika
            </div>
            <div class="photo no-photo">
                Petra Kubínová
            </div>
        </div>
        <div class="prefix_1 grid_7 text-center">
            <h3 class="position">Pracovníci klientského obchodního místa</h3>
            <div class="photo" style="margin-left: 145px;">
                {control person, id => 5, type => tree-small}
            </div>
        </div>
    </div>
    <div id="milan-mares" class="sub-person hidden">
        <div class="prefix_3 grid_7 text-center">
            <h3 class="position">Poradci</h3>

        </div>
        <div class="prefix_1 grid_7 text-center">
            <h3 class="position">Pracovníci klientského obchodního místa</h3>
            <div class="photo">
                {control person, id => 26, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 39, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 51, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 26, type => tree-small}
            </div>
            <div class="photo no-photo">
                Jan Srdínko
            </div>
        </div>
    </div>
    <div id="eva-dvorakova" class="sub-person hidden">
        <div class="prefix_3 grid_7 text-center">
            <h3 class="position">Poradci</h3>
            <div class="photo">
                {control person, id => 34, type => tree-small}
            </div>
            <div class="photo">
                {control person, id => 23, type => tree-small}
            </div>
            <div class="photo no-photo">
                Adam <br>Tojšl
            </div>
            <div class="photo no-photo">
                Klára Konvalinková
            </div>
        </div>
        <div class="prefix_1 grid_7 text-center">
            <h3 class="position">Pracovníci klientského obchodního místa</h3>
        </div>
    </div>
</div>

<div class="container news text">
    <div class="prefix_1 grid_18 suffix_1 padding">
        <hr>
    </div>
    <div class="prefix_2 grid_18">
        <h2>Poslední aktuality</h2>
    </div>
    <div class="prefix_3 grid_16 padding">
        <div class="grid_4">
            <a href="{$basePath}/static/img/udalosti/koralek.jpg" data-lightbox="koralek"><img src="{$basePath}/static/img/udalosti/koralek-thumbnail.png"
                                                                                               class="thumbnail"></a>
        </div>
        <div class="grid_10">
            <span class="date">
                květen 2014 / charitativní projekt
            </span>
            <h3>Kladenský korálek</h3>
            <p>
                ČSOB Pojišťovna sponzoruje charitativní projekt, v rámci něhož byla v kladenské speciální škole
                Korálek slavnostně dokončena výmalba interiérů školy od malíře Libora Škrlíka. Jedná se o
                interaktivní vymalované stěny, na které mohou děti s různým typem postižení (autismem, vadami
                řeči, zraku nebo sluchu) připevňovat doplňující obrázky.
                <br><br>
                Nové prostory dětem předala regionální ředitelka ČSOB Pojišťovny Dana Mrázková spolu se
                spisovatelkou Bárou Nesvatbovou a autorem maleb Liborem Škrlíkem.
                <br><br>
                Spolupráce s Korálkem není naší jediným charitativním projektem. Úzce spolupracujeme také
                s Nadačním fondem Život dětem.
            </p>
            <a href="{$basePath}/static/img/udalosti/koralek.jpg" data-lightbox="koralek-gallery" class="photo-gallery">Fotogalerie</a>
        </div>
    </div>
    <div class="prefix_3 grid_16">
        <div class="prefix_3 divider">
            <hr>
        </div>
        <div class="grid_4">
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6730.jpg" data-lightbox="konference"><img
                        src="{$basePath}/static/img/udalosti/konference-thumbnail.png" class="thumbnail"></a>
        </div>
        <div class="grid_10">
            <span class="date">
                duben 2014 / akce ČSOB Pojišťovny
            </span>
            <h3>Konference Superagentury Praha II v hotelu S.E.N</h3>
            <p>
                Konference regionu Superagentura Praha II zaměřená na podporu týmového ducha. Jejím
                obsahem bylO vyhodnocení výsledků za první kvartál 2014 a prezentace jednotlivých týmů poradců.
                <br><br>
                Celé setkání se odehrávalo v duchu motta SÍLA TÝMU.
            </p>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6672.jpg" data-lightbox="konference" class="photo-gallery">Fotogalerie</a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6673.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6674.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6689.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6692.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6698.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6707.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6730.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6739.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6765.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6782.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6800.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
        </div>
    </div>
    <div class="prefix_3 grid_16">
        <div class="prefix_3 divider">
            <hr>
        </div>
        <div class="grid_4">
            <a href="{$basePath}/static/img/udalosti/hardrock/20140207-202009.jpg" data-lightbox="hardrock"><img
                        src="{$basePath}/static/img/udalosti/hardrock-thumbnail.png" class="thumbnail"></a>
        </div>
        <div class="grid_10">
            <span class="date">
                únor 2014 / akce ČSOB Pojišťovny
            </span>
            <h3>Obchodní konference ČSOB Pojišťovny</h3>
            <p>
                Po obchodní konferenci se náš tým sešel na neformálním večírku ve stylu Hard Rock Cafe Party.
                Podívejte se, jak nám to spolu hraje stylově v rockovém :-)
            </p>
            <a href="{$basePath}/static/img/udalosti/hardrock/20140207-190005.jpg" data-lightbox="hardrock" class="photo-gallery">Fotogalerie</a>
            <a href="{$basePath}/static/img/udalosti/hardrock/20140207-190040.jpg" data-lightbox="hardrock" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/hardrock/20140207-190152.jpg" data-lightbox="hardrock" class="photo-gallery hidden"></a>
        </div>
    </div>
    {*<div class="prefix_7 grid_10">
        <ul class="links">
            <li><a class="bigger" n:href="Archiv:default">Všechny aktuality</a></li>
        </ul>
    </div>*}
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">Co vás ještě</span>&nbsp;&nbsp;
        <span class="big">zajímá?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>