{block content}

<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<h1 class="hidden">Více o ČSOB</h1>

<div class="container facts">
    <div class="grid_5 text-right">
    </div>
</div>

<div class="container heading big-quotes">
    <div class="grid_20 text-center">
        <span class="heading team">Týmová kultura</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="prefix_1 grid_9 text-right">
        <span class="heading small light-blue white-font">Budeme stavět<br>&nbsp;na těch, kteří chtějí</span>
    </div>
    <div class="grid_9">
        <span class="heading moral">Morální zásady</span>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <br><br><span class="heading small light-blue white-font light">Práce jako poslání</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center fix-heading">
        <span class="heading client">Klient na 1. místě</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <span class="heading small light-blue white-font light team">Tým je víc než jedinec</span><br><br><br>
    </div>
    <div class="clearfix"></div>
    <div class="grid_20 text-center">
        <span class="heading team small">Vztahová politika</span>
    </div>
</div>

<div class="container text">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_5">
        <h2>Proč a co děláme?</h2>

        <p>
            <strong>Sueragentura Praha II – region Praha II. - </strong> je cesta budování obchodní

             cítě v podnikatelském prostředí. Velmi si vážíme talentovaných, zdravě

             ambiciosních lidí. Těmto pracovníkům posykujeme ty nejkvalitnější formy

             vzdělání a rozvijíme jejich znalosti a dovednosti.
        </p>
    </div>
    <div class="grid_5">
        <p class="padding">
            Pomáháme jim startovat jejich profesní kariéru. Kvalitním obchodníkem

            a manažerem se nestanete jen teoretickými znalostmi,ale propojením

            znalostí, dovedností a osobních postojů.
            <br><br>
            Kariéru chápeme především jako seberealizaci.
        </p>
    </div>
    <div class="grid_5 suffix_3">
        <p class="padding">
            Mnoho lidí si k nám přichází plnit své sny. Chtějí být úspěšní, mít

            dostatek finančních prostředků ke splnění svých životních plánů a cílů.
            <br><br>
            <strong>Pravidla</strong> jsou velmi jednoduchá: naslouchat,důvěřovat,vzdělávat se a dodržovat systém.
        </p>
    </div>
</div>

<div class="container text hierarchy">
    <div class="prefix_1 grid_18 suffix_1">
        <hr>
    </div>
    <div class="prefix_2 grid_18">
        <h2>Představujeme se</h2>
    </div>
    <div class="grid_20 text-center">
        <h3 class="position head">Regionální ředitelka</h3>
    </div>
    {control person, id => 3, type => tree-big}
    <div class="grid_20 text-center">
        <h3 class="position">Account manažeři</h3>

        <div class="prefix_8">
            <div class="grid_2 photo" n:foreach="$tree[7]['employees'] as $employee">
                {control person, id => $employee->id, type => tree-small}
            </div>
        </div>
    </div>
    <div class="grid_20 text-center">
        <h3 class="position">Asistentky</h3>

        <div class="prefix_6">
            <div class="grid_2 photo" n:foreach="$tree[6]['employees'] as $employee">
                {control person, id => $employee->id, type => tree-small}
            </div>
        </div>
    </div>
    <div class="grid_20 text-center">
        <h3 class="position">Manažeři</h3>

        <div class="prefix_6">
            <div class="grid_2 photo" n:foreach="$tree[3]['employees'] as $employee">
                {control person, id => $employee->id, type => tree-small}
            </div>
        </div>
    </div>
	<div class="grid_20 text-center">
		<h3 class="position">Generální reprezentant</h3>

		<div class="prefix_9">
            <div class="grid_2 photo" n:foreach="$tree[2]['employees'] as $employee">
                {control person, id => $employee->id, type => tree-small}
            </div>
        </div>
	</div>
    <div class="grid_20 text-center">
        <h3 class="position">Pracovníci klientského obchodního místa</h3>
        {foreach $tree[5]['employees'] as $employee}
        <div class="{if $iterator->getCounter() == 12}prefix_6{/if} grid_2 photo">
            {control person, id => $employee->id, type => tree-small}
        </div>
        {/foreach}
    </div>
    <div class="grid_20 text-center">
        <h3 class="position">Poradci</h3>
        {foreach $tree[4]['employees'] as $employee}
            <div class="{if $iterator->getCounter() == 34}prefix_2{/if} grid_2 photo">
                {control person, id => $employee->id, type => tree-small}
            </div>
        {/foreach}
    </div>



<div class="container news text">
    <div class="prefix_1 grid_18 suffix_1 padding">
        <hr>
    </div>
    <div class="prefix_2 grid_18">
        <h2>Poslední aktuality</h2>
    </div>
    <div class="prefix_3 grid_16 padding">
        <div class="grid_4">
            <a href="{$basePath}/static/img/udalosti/koralek.jpg" data-lightbox="koralek"><img src="{$basePath}/static/img/udalosti/koralek-thumbnail.png"
                                                                                               class="thumbnail"></a>
        </div>
        <div class="grid_10">
            <span class="date">
                květen 2014 / charitativní projekt
            </span>
            <h3>Kladenský korálek</h3>
            <p>
                ČSOB Pojišťovna sponzoruje charitativní projekt, v rámci něhož byla v kladenské speciální škole
                Korálek slavnostně dokončena výmalba interiérů školy od malíře Libora Škrlíka. Jedná se o
                interaktivní vymalované stěny, na které mohou děti s různým typem postižení (autismem, vadami
                řeči, zraku nebo sluchu) připevňovat doplňující obrázky.
                <br><br>
                Nové prostory dětem předala regionální ředitelka ČSOB Pojišťovny Dana Mrázková spolu se
                spisovatelkou Bárou Nesvatbovou a autorem maleb Liborem Škrlíkem.
                <br><br>
                Spolupráce s Korálkem není naší jediným charitativním projektem. Úzce spolupracujeme také
                s Nadačním fondem Život dětem.
            </p>
            <a href="{$basePath}/static/img/udalosti/koralek.jpg" data-lightbox="koralek-gallery" class="photo-gallery">Fotogalerie</a>
            <a href="{$basePath}/static/img/udalosti/koralek_praha_01.jpg" data-lightbox="koralek-gallery" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/koralek_praha_02.jpg" data-lightbox="koralek-gallery" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/koralek_kladno_01.jpg" data-lightbox="koralek-gallery" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/koralek_kladno_02.jpg" data-lightbox="koralek-gallery" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/koralek_kladno_03.jpg" data-lightbox="koralek-gallery" class="photo-gallery hidden"></a>
        </div>
    </div>
    <div class="prefix_3 grid_16">
        <div class="prefix_3 divider">
            <hr>
        </div>
        <div class="grid_4">
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6730.jpg" data-lightbox="konference"><img
                        src="{$basePath}/static/img/udalosti/konference-thumbnail.png" class="thumbnail"></a>
        </div>
        <div class="grid_10">
            <span class="date">
                duben 2014 / akce ČSOB Pojišťovny
            </span>
            <h3>Konference Superagentury Praha II v hotelu S.E.N</h3>
            <p>
                Konference regionu Superagentura Praha II zaměřená na podporu týmového ducha. Jejím
                obsahem bylO vyhodnocení výsledků za první kvartál 2014 a prezentace jednotlivých týmů poradců.
                <br><br>
                Celé setkání se odehrávalo v duchu motta SÍLA TÝMU.
            </p>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6672.jpg" data-lightbox="konference" class="photo-gallery">Fotogalerie</a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6673.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6674.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6689.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6692.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6698.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6707.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6730.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6739.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6765.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6782.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/konference/IMG_6800.jpg" data-lightbox="konference" class="photo-gallery hidden"></a>
        </div>
    </div>
    <div class="prefix_3 grid_16">
        <div class="prefix_3 divider">
            <hr>
        </div>
        <div class="grid_4">
            <a href="{$basePath}/static/img/udalosti/hardrock/20140207-202009.jpg" data-lightbox="hardrock"><img
                        src="{$basePath}/static/img/udalosti/hardrock-thumbnail.png" class="thumbnail"></a>
        </div>
        <div class="grid_10">
            <span class="date">
                únor 2014 / akce ČSOB Pojišťovny
            </span>
            <h3>Obchodní konference ČSOB Pojišťovny</h3>
            <p>
                Po obchodní konferenci se náš tým sešel na neformálním večírku ve stylu Hard Rock Cafe Party.
                Podívejte se, jak nám to spolu hraje stylově v rockovém :-)
            </p>
            <a href="{$basePath}/static/img/udalosti/hardrock/20140207-190005.jpg" data-lightbox="hardrock" class="photo-gallery">Fotogalerie</a>
            <a href="{$basePath}/static/img/udalosti/hardrock/20140207-190040.jpg" data-lightbox="hardrock" class="photo-gallery hidden"></a>
            <a href="{$basePath}/static/img/udalosti/hardrock/20140207-190152.jpg" data-lightbox="hardrock" class="photo-gallery hidden"></a>
        </div>
    </div>
    {*<div class="prefix_7 grid_10">
        <ul class="links">
            <li><a class="bigger" n:href="Archiv:default">Všechny aktuality</a></li>
        </ul>
    </div>*}
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">Co vás ještě</span>&nbsp;&nbsp;
        <span class="big">zajímá?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>
