<div class="container person">
    <div class="grid_8">
        <img src="/static/img/photos/original/gabriela-havlova.jpg" width="440" height="676">
    </div>
    <div class="grid_12 details">

        <span class="position">Manageress</span><br>

        <h2>
            <span class="first-name">Gabriela</span><br>
            <span class="last-name">Havlová</span><br>
        </h2>

        <p class="quote">
            „Všechno se změní, když vaše touha jít dál je silnější než vaše přání počkat.“
        </p>

        <div class="grid_5 description">
            <h3>Profil</h3>

            <p>
                Pracuji v&nbsp;ČSOB Pojišťovně a.s. třetím rokem. Začínala jsem na pozici poradce a postupně se vypracovala na pozici manažerky.
                Kdyby mi to někdo před pěti lety řekl, nevěřila bych mu. Moje kroky a sny vedly naprosto…
            </p>
        </div>

        <div class="prefix_1 grid_5 description">
            <h3>V čem jsem nejlepší?</h3>

            <p>
                Jsem pracovitá a důsledná. Lidi řídím i vedu. Jsme otevřená ve prospěch všech nových věcí kolem sebe.
            </p>
        </div>
    </div>
</div>

<div class="container read-all">
    <div class="prefix_2 grid_16">
        <p>
            Pracuji v&nbsp;ČSOB Pojišťovně a.s. třetím rokem. Začínala jsem na pozici poradce a postupně se vypracovala na pozici manažerky.
            Kdyby mi to někdo před pěti lety řekl, nevěřila bych mu. Moje kroky a sny vedly naprosto jiným směrem.
            Chtěla se stát letuškou, pracovat pro zahraniční firmu, nebo v&nbsp;zahraničí.
            Proto jsem studovala rok v&nbsp;Austrálii a ve Španělsku. Mluvím plynule anglicky i španělsky.Jsem přesvědčena, že na světě existuje jiná pracovní
            pozice a prostředí, kde budu úspěšnější a šťastnější. Můj tým je složen z mladých lidí. Vychovávám je v duchu poradenství, ne prodeje. Moji poradci
            klientům pomáhají, radí a dávají pocit jistoty. Má a jejich profesionalita a kvalita je naše priorita. I přesto, že volného času nemám na rozdávání,
            mám velmi aktivní soukromý život, tomu napomáhá můj životní drive a temperament.Miluji sport, převážně běhání, fitbox, aerobic, snowboarding a
            kolektivní sporty. Jsem velmi společenská a potřebuji mít kolem sebe lidi.
        </p>

        <p>
            Můj osobní život je velmi aktivní. Miluji sport, četbu a cestování. Trávím čas se svojí rodinou a kamarády.
        </p>
    </div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">S čím vám</span>&nbsp;&nbsp;
        <span class="big">mohu pomoci?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a href="/kontakt">Chci kontakt</a></li>
            <li><a href="/proc-my">Chci vědět proč se pojistit u vás</a></li>
            <li><a href="/o-nas">Chci vědět více o čsob poj.</a></li>
            <li><a href="/produkty">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="grid_20 contact">
        <div class="prefix_2 grid_8 personal">
            <h4>
                <span class="big">Kontakt</span>
                &nbsp;&nbsp;&nbsp;
            </h4>

            <span class="name">Gabriela Havlová</span>
            <span class="title">, Manažerka</span>

            <br>

            <span class="contact-name">tel.:</span>
            <span class="contact-item">+420 <strong>725 496 786</strong></span>

            <br>

            <span class="contact-name">email:</span>
            <span class="contact-item"><a href="mailto:gabriela.havlova@obchod.csobpoj.cz">gabriela.havlova@obchod.csobpoj.cz</a></span>

            <br>

            <h5>Adresa pobočky:</h5>
            <span class="address">
                    Radlická 333/150<br>
                     Praha 5 , PSČ 150 57<br>
            </span>

            <br>

            <div class="social">
            </div>
        </div>
        <div class="grid_7 office">
            <h4>
                <span class="big">Kontakt</span>
                <span class="small">na centrálu:</span>
            </h4>

            <span class="number">+420 <strong>800 100 777</strong></span>

            <h5>Adresa centrály:</h5>
            <span class="address">
                ČSOB Pojišťovna<br>
                Masarykovo náměstí 1458<br>
                532 18 Pardubice
            </span>
            <br>

            <a class="block" href="/kontakt">Seznam POBOČEK</a>
        </div>
    </div>
</div>