<div class="container person">
    <div class="grid_8">
        <img src="/static/img/photos/original/olga-sirotkina.jpg" width="440" height="676">
    </div>
    <div class="grid_12 details">

        <span class="position">Ведущая клиентского центра</span><br>

        <h2>
            <span class="first-name">Olga</span><br>
            <span class="last-name">Sirotkina</span><br>
        </h2>

        <p class="quote">
            „Darujte světu všechno nejlepší co ve Vás je a vrátí se k Vám všechno nejlepší, co je ve světě.“
            <img class="signature" src="/static/img/signatures/olga-sirotkina.jpg" width="200">
        </p>

        <div class="grid_10 description" style="width: 600px">
            <h3>O mně</h3>

            <p>
                Я из России, живу в Праге 5 лет. Но по-настоящему я полюбила этот город

                около года назад – бывая в России дома со своей семьей, я поняла, что скучаю

                по Праге, что чувствую себя немного иностранкой в городе, где я родилась и

                выросла. Прага город мягкий, неторопливый, люди здесь имеют возможность

                не спеша наслаждаться жизнью, семьей, хобби, карьерой, здесь нет чувства,

                что жизнь утекает, а Вы не замечаете ничего кроме вечного круга работа-дом…

                Прага – город человечный и дающий второй шанс.

                Моим вторым шансом в Праге стала ČSOB Pojišťovna. Я искала серьезное

                основание для того, чтобы жить в Чехии, что-то, чему я могла бы себя

                посвятить. Для меня честь работать в этой компании. ČSOB Pojišťovna дает

                большую возможность расти и развиваться как профессионал и личность.

                Раньше я мечтала, теперь планирую. Раньше я боялась ответственности, теперь

                я понимаю, что ответственность является основой для этой профессии и для

                успеха в жизни. Раньше я была более эгоистична, но при работе с людьми

                научилась ставить потребности и пожелания клиента на первое место, стала

                более отзывчивой. Я верю, что клиент – это наш господин, и когда клиент

                доволен, довольна и я. Уровень квалификации является моим приоритетом, для

                его поддержания и повышения я регулярно прохожу профессиональные курсы,

                принимаю участие в конкурсах, получаю второе высшее образование и работаю

                над своим внутренним развитием. За время моей работы в ČSOB Pojišťovně я

                обрела десятки довольных клиентов, помогла многим семьям. Мои клиенты -

                моя самая большая гордость и вдохновение каждого дня.

                Я бы хотела победить стереотип о страховании, сложившийся у русских людей,

                с пользой для клиента позаботиться о его страховой охране и показать себя как

                друг семьи. Я открыта для Вас и буду рада контакту с Вашей стороны.
            </p>
        </div>
        <div class="grid_14">
            <h3 class="offer">Что я Вам могу предложить:</h3>
            <ul class="whyus">
                <li>Анализ Вашей жизненной ситуации и подбор соответствующего страхования</li>
                <li>Заключение договоров страхования</li>
                <li>Сервис для уже существующих договоров</li>
                <li>Решение страховых случаев</li>
            </ul>
        </div>
    </div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">S čím vám</span>&nbsp;&nbsp;
        <span class="big">mohu pomoci?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a href="/kontakt">Chci kontakt</a></li>
            <li><a href="/proc-my">Chci vědět proč se pojistit u vás</a></li>
            <li><a href="/o-nas">Chci vědět více o čsob poj.</a></li>
            <li><a href="/produkty">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="grid_20 contact">
        <div class="prefix_2 grid_8 personal">
            <h4>
                <span class="big">Kontakt</span>
                &nbsp;&nbsp;&nbsp;
            </h4>

            <span class="name">Olga Sirotkina</span>
            <span class="title">, Ведущая клиентского центра</span>

            <br>

            <span class="contact-name">tel.:</span>
            <span class="contact-item">+420 <strong>775 098 600</strong></span>

            <br>

            <span class="contact-name">email:</span>
            <span class="contact-item"><a href="mailto:olga.sirotkina@obchod.csobpoj.cz">olga.sirotkina@obchod.csobpoj.cz</a></span>

            <br>

            <h5>Адрес Город:</h5>
            <span class="address">
                    OC Lužiny Archeologická 2256/1<br>
                     Praha 5, PSČ 15500<br>
            </span>

            <br>

            <div class="social">
            </div>
        </div>
        <div class="grid_7 office">
            <h4>
                <span class="big">Kontakt</span>
                <span class="small">na centrálu:</span>
            </h4>

            <span class="number">+420 <strong>800 100 777</strong></span>

            <h5>Adresa centrály:</h5>
            <span class="address">
                ČSOB Pojišťovna<br>
                Masarykovo náměstí 1458<br>
                532 18 Pardubice
            </span>
            <br>

            <a class="block" href="/kontakt">Seznam POBOČEK</a>
        </div>
    </div>
</div>