<div class="container person">
    <div class="grid_8">
        <img src="/static/img/photos/original/jevgenij-silkin.jpg" width="440" height="676">
    </div>
    <div class="grid_12 details">

        <span class="position">Консультант</span><br>

        <h2>
            <span class="first-name">Jevgenij</span><br>
            <span class="last-name">Šilkin</span><br>
        </h2>

        <p class="quote">
            „Success is a journey not a destination.“
            <img class="signature" src="/static/img/signatures/jevgenij-silkin.jpg" width="200">
        </p>

        <div class="grid_10 description" style="width: 600px">
            <h3>O mně</h3>

            <p>
                Добрый день,

                меня зовут Евгений Шилкин. В Чехии я уже 13 лет. В страховой компании

                работаю с 2011 года. За 2 года работы в ЧСОБ страховой компании я

                приобрел множество знаний в финансовой сфере. Специализируюсь

                на страховании фирм. Я всегда стараюсь найти самое лучшее и

                оптимальное решение для своих клиентов. Моей главной целью

                является не подписание договора, а забота о моих клиентах. В

                случае страхового случая я всегда готов Вам помочь с  сообщением о

                страховом случае со сборов всей необходимой информации для того,

                чтобы ускорить процесс.
            </p>
        </div>
        <div class="grid_14">
            <h3 class="offer">Что я Вам могу предложить:</h3>
            <ul class="whyus">
                <li>Анализ жизненной ситуации и создание Вашего профиля Заключение</li>
                <li>страхования Ведение документации связанной с страхованием Помощь<br> при страховых случаях</li>
            </ul>
        </div>
    </div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">S čím vám</span>&nbsp;&nbsp;
        <span class="big">mohu pomoci?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a href="/kontakt">Chci kontakt</a></li>
            <li><a href="/proc-my">Chci vědět proč se pojistit u vás</a></li>
            <li><a href="/o-nas">Chci vědět více o čsob poj.</a></li>
            <li><a href="/produkty">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="grid_20 contact">
        <div class="prefix_2 grid_8 personal">
            <h4>
                <span class="big">Kontakt</span>
                &nbsp;&nbsp;&nbsp;
            </h4>

            <span class="name">Jevgenij Šilkin</span>
            <span class="title">, Консультант</span>

            <br>

            <span class="contact-name">tel.:</span>
            <span class="contact-item">+420 <strong>774 202 951</strong></span>

            <br>

            <span class="contact-name">email:</span>
            <span class="contact-item"><a href="mailto:jevgenij.silkin@obchod.csobpoj.cz">jevgenij.silkin@obchod.csobpoj.cz</a></span>

            <br>

            <h5>Адрес Город:</h5>
            <span class="address">
                    Rostislavova 4<br>
                     Praha 4, PSČ 140 00<br>
            </span>

            <br>

            <div class="social">
            </div>
        </div>
        <div class="grid_7 office">
            <h4>
                <span class="big">Kontakt</span>
                <span class="small">na centrálu:</span>
            </h4>

            <span class="number">+420 <strong>800 100 777</strong></span>

            <h5>Adresa centrály:</h5>
            <span class="address">
                ČSOB Pojišťovna<br>
                Masarykovo náměstí 1458<br>
                532 18 Pardubice
            </span>
            <br>

            <a class="block" href="/kontakt">Seznam POBOČEK</a>
        </div>
    </div>
</div>