<div class="container person">
    <div class="grid_8">
        <img src="/static/img/photos/original/gabriela-havlova.jpg" width="440" height="676">
    </div>
    <div class="grid_12 details">

        <span class="position">Manageress</span><br>

        <h2>
            <span class="first-name">Gabriela</span><br>
            <span class="last-name">Havlová</span><br>
        </h2>

        <p class="quote">
            „Všechno se změní, když vaše touha jít dál je silnější než vaše přání počkat.“
        </p>

        <div class="grid_10 description" style="width: 600px">
            <h3>About me</h3>

            <p>
                My name is Gabriela Havlová. I´m 27 years old.<br><br>

                Im manageress of the team mostly young people. Im been woking in ČSOB

                Insurace a.s. for three years.

                Im started as a insurance broker, after two years I became manageress.<br>

                I used to work in completely different jobs, as I wanted to become in completely

                different work position.<br><br>

                My life was directed more to travel enviroment. Thats why I´ve studied one year

                In Australia, also in Spain.<br><br>

                I couldnt ever imagine that I would work in insurance company even though my

                mother is a Regional Director.<br><br>

                Nowadays I cant imagine to work in another job, in other company.

                I find out the job which completely fit on me. My work gives me everything.

                I can say, my work gives me wings. Wings which helping me go throw of life

                with satisfaction, succes, with confidence that Im in the right place and doing

                something what makes sence and results.<br><br>

                As I said I have the team of young people.

                The most importante for me is to behave them to be advisors not the seller and

                we are doing very well. Level of their quality and professionalism is my and their

                priority.<br><br>

                We are helping people and advising to clients so that the cause they have a sure. I

                behaved them to feel the clients like a human no money. The clients are for us in

                the first place.

                Even thought is very hard work, with minumum of free time. I would´nt ever

                change it for nothing.
            </p>
        </div>
        <div class="grid_14">
            <h3 class="offer">What can I offer you?</h3>
            <ul class="whyus">
                <li>Analisys of your life situation. Base on this situation to make insurance, precisely<br> designed to you.</li>
                <li>Arranging insurance</li>
                <li>Complete service</li>
                <li>Resolution of the insurance claims</li>
            </ul>
        </div>
    </div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">S čím vám</span>&nbsp;&nbsp;
        <span class="big">mohu pomoci?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a href="/kontakt">Chci kontakt</a></li>
            <li><a href="/proc-my">Chci vědět proč se pojistit u vás</a></li>
            <li><a href="/o-nas">Chci vědět více o čsob poj.</a></li>
            <li><a href="/produkty">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="grid_20 contact">
        <div class="prefix_2 grid_8 personal">
            <h4>
                <span class="big">Contact</span>
                &nbsp;&nbsp;&nbsp;
            </h4>

            <span class="name">Gabriela Havlová</span>
            <span class="title">, Manageress</span>

            <br>

            <span class="contact-name">tel.:</span>
            <span class="contact-item">+420 <strong>725 496 786</strong></span>

            <br>

            <span class="contact-name">email:</span>
            <span class="contact-item"><a href="mailto:gabriela.havlova@obchod.csobpoj.cz">gabriela.havlova@obchod.csobpoj.cz</a></span>

            <br>

            <h5>First Address:</h5>
            <span class="address">
                    Radlická 333/150<br>
                     Praha 5, PSČ 150 57<br>
            </span>
            <h5>Second Address:</h5>
            <span class="address">
                    Preslova 17<br>
                     Praha 5, PSČ 150 00<br>
            </span>

            <br>

            <div class="social">
            </div>
        </div>
        <div class="grid_7 office">
            <h4>
                <span class="big">Kontakt</span>
                <span class="small">na centrálu:</span>
            </h4>

            <span class="number">+420 <strong>800 100 777</strong></span>

            <h5>Adresa centrály:</h5>
            <span class="address">
                ČSOB Pojišťovna<br>
                Masarykovo náměstí 1458<br>
                532 18 Pardubice
            </span>
            <br>

            <a class="block" href="/kontakt">Seznam POBOČEK</a>
        </div>
    </div>
</div>