<div class="container person">
    <div class="grid_8">
        <img src="/static/img/photos/original/filip-kroslak.jpg" width="440" height="676">
    </div>
    <div class="grid_12 details">

        <span class="position">Poradca</span><br>

        <h2>
            <span class="first-name">Filip</span><br>
            <span class="last-name">Krošlák</span><br>
        </h2>

        <p class="quote">
            „NEMOŽNÉ je jen silné slovo používané slabými lidmi, kteří zistili, že je lehčí žít ve světě, který jim byl daný, než najít v sobě sílu něco změnit.
            Nemožné není fakt, je to volba.“
            <img class="signature" src="/static/img/signatures/filip-kroslak.jpg" width="200">
        </p>

        <div class="grid_10 description" style="width: 600px">
            <h3>O mně</h3>

            <p>
                Už od malička som chcel pomáhať ľuďom. Najprv ako šerif, potom

                ako lekár, nakoniec som sa vybral cestou poistenia. Poistenie pre mňa

                znamená príležitosť pomôcť. Pomôcť zabezpečiť istotu a rezervu pre

                Vás a Vašich najbližších. Je to práca, ktorá mi dáva veľa. Práca, ktorá

                ma baví. Práca, do ktorej som sa zamiloval...
            </p>
        </div>
        <div class="grid_14">
            <h3 class="offer">Ako Vám môžem pomôcť?</h3>
            <ul class="whyus">
                <li>Analýza životnej situácie a vytvorenie poistného profilu na mieru.</li>
                <li>Zjednanie poistenia.</li>
                <li>Servis pri správe poistiek.</li>
                <li>Riešenie poistných udalostí.</li>
            </ul>
        </div>
    </div>
</div>


<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">S čím vám</span>&nbsp;&nbsp;
        <span class="big">mohu pomoci?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a href="/kontakt">Chci kontakt</a></li>
            <li><a href="/proc-my">Chci vědět proč se pojistit u vás</a></li>
            <li><a href="/o-nas">Chci vědět více o čsob poj.</a></li>
            <li><a href="/produkty">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="grid_20 contact">
        <div class="prefix_2 grid_8 personal">
            <h4>
                <span class="big">Kontakt</span>
                &nbsp;&nbsp;&nbsp;
            </h4>

            <span class="name">Filip Krošlák</span>
            <span class="title">, Poradce</span>

            <br>

            <span class="contact-name">tel.:</span>
            <span class="contact-item">+420 <strong>607 086 180</strong></span>

            <br>

            <span class="contact-name">email:</span>
            <span class="contact-item"><a href="mailto:filip.kroslak@obchod.csobpoj.cz">filip.kroslak@obchod.csobpoj.cz</a></span>

            <br>

            <h5>Adresa pobočky:</h5>
            <span class="address">
                    Radlická 333/150 150 00 Praha 5
Preslova 17 150 00 Praha 5
v  případe telefonické domluvy také Praha 4<br>
            </span>

            <br>

            <div class="social">
            </div>
        </div>
        <div class="grid_7 office">
            <h4>
                <span class="big">Kontakt</span>
                <span class="small">na centrálu:</span>
            </h4>

            <span class="number">+420 <strong>800 100 777</strong></span>

            <h5>Adresa centrály:</h5>
            <span class="address">
                ČSOB Pojišťovna<br>
                Masarykovo náměstí 1458<br>
                532 18 Pardubice
            </span>
            <br>

            <a class="block" href="/kontakt">Seznam POBOČEK</a>
        </div>
    </div>
</div>