<div class="container person">
    <div class="grid_8">
        <img src="/static/img/photos/original/dang-van-phong.jpg" width="440" height="676">
    </div>
    <div class="grid_12 details">

        <span class="position">Tư vấn</span><br>

        <h2>
            <span class="first-name">Dang</span><br>
            <span class="last-name">Van Phong</span><br>
        </h2>

        <p class="quote">
            <img class="signature" src="/static/img/signatures/dang-van-phong.jpg" width="200">
        </p>

        <div class="grid_10 description" style="width: 600px">
            <h3>O mně</h3>

            <p>
                Tốt nghiệp trung học.

                Sống thật thà, đàng hoàng.

                Thời gian rỗi cho gia đình và con cái.

                Luôn có việc làm với hãng bảo hiểm.

                Sống ở séc đã 25 năm.
            </p>
        </div>

        <div class="grid_14">
            <h3 class="offer">Co vám mohu nabídnout?</h3>
            <ul class="whyus">
                <li>Phân tích tình hình cuộc sống và tạo ra một hồ sơ cá nhân theo đúng lệ phí bảo hiểm.</li>
                <li>Đàm phán bảo hiểm.</li>
                <li>Dịch vụ trong điều hành chính sách bảo hiểm.</li>
                <li>Giải quyết các vụ bảo hiểm tai nạn.</li>
            </ul>
        </div>
    </div>
</div>



<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">S čím vám</span>&nbsp;&nbsp;
        <span class="big">mohu pomoci?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a href="/kontakt">Chci kontakt</a></li>
            <li><a href="/proc-my">Chci vědět proč se pojistit u vás</a></li>
            <li><a href="/o-nas">Chci vědět více o čsob poj.</a></li>
            <li><a href="/produkty">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="grid_20 contact">
        <div class="prefix_2 grid_8 personal">
            <h4>
                <span class="big">Kontakt</span>
                &nbsp;&nbsp;&nbsp;
            </h4>

            <span class="name">Dang Van Phong</span>
            <span class="title">, Tư vấn</span>

            <br>

            <span class="contact-name">tel.:</span>
            <span class="contact-item">+420 <strong>774 437 566</strong></span>

            <br>

            <span class="contact-name">email:</span>
            <span class="contact-item"><a href="mailto:phong.dangvan@obchod.csobpoj.cz">phong.dangvan@obchod.csobpoj.cz</a></span>

            <br>

            <h5>Adresa pobočky:</h5>
            <span class="address">
                    Antala Staška 2027/77<br>
                140 00 Praha 4
            </span>

            <br>

            <div class="social">
            </div>
        </div>
        <div class="grid_7 office">
            <h4>
                <span class="big">Kontakt</span>
                <span class="small">na centrálu:</span>
            </h4>

            <span class="number">+420 <strong>800 100 777</strong></span>

            <h5>Adresa centrály:</h5>
            <span class="address">
                ČSOB Pojišťovna<br>
                Masarykovo náměstí 1458<br>
                532 18 Pardubice
            </span>
            <br>

            <a class="block" href="/kontakt">Seznam POBOČEK</a>
        </div>
    </div>
</div>