@font-face {
    font-family: 'VerbBlack';
    src: url('verbblack.eot');
    src: url('verbblack.eot') format('embedded-opentype'),
         url('verbblack.woff') format('woff'),
         url('verbblack.ttf') format('truetype'),
         url('verbblack.svg#VerbBlack') format('svg');
}
