{block content}

<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<h1 class="hidden">Detail osoby</h1>

<div class="container person">
    <div class="grid_8">
        {if $profile->photo}
            <img src="{$basePath}/static/img/photos/original/{$profile->photo}" width="440" height="676">
        {else}
            <img src="{$basePath}/static/img/anonymous.jpg" width="392" height="369">
        {/if}
    </div>
    <div class="grid_12 details">
        <div class="csob">
            <img src="{$basePath}/static/img/csob-logo-small.png"><br>
            {*<span class="city">
                Praha
            </span>*}
        </div>

        <span class="position">{$profile->rank->name}</span><br>

        <h2>
            <span class="first-name">{$profile->firstname}</span><br>
            <span class="last-name">{$profile->lastname}</span><br>
        </h2>

        <p class="quote">
            „{$profile->motto}“
            <img n:if="$profile->signature" class="signature" src="{$basePath}/static/img/signatures/{$profile->signature}" width="200">
        </p>

        {*if $profile->bestin}
        <div class="grid_5 description">
            <h3>Profil</h3>

            <p>
                {$profile->profile|truncate:215}
            </p>
        </div>

        <div class="prefix_1 grid_5 description">
            <h3>V čem jsem nejlepší?</h3>

            <p>
                {$profile->bestin}
            </p>
        </div>
        {else}
        <div class="grid_10 description" style="width: 600px">
            <h3>Profil</h3>

            <p>
                {$profile->profile}
            </p>
        </div>
        {/if}*}

        <div class="grid_10 description" style="width: 600px">
            <h3>Profil</h3>

            <p>
                {$profile->profile}
            </p>
        </div>

        <div class="grid_10 description" style="width: 600px" n:if="$profile->bestin">
            <h3>V čem jsem nejlepší?</h3>

            <p>
                {$profile->bestin}
            </p>
        </div>

        <div class="grid_10 description" style="width: 600px" n:if="$profile->more">
            <h3>Více o mně</h3>

            <p>
                {$profile->more|noescape}
            </p>
        </div>
    </div>
</div>

{*<div class="container read-all" *}{*id="readall-text" style="display: none;"*}{*>
    <div class="prefix_2 grid_16">
        <p>
            {$profile->more|noescape}
        </p>
    </div>
</div>*}

<div class="container">
    <div class="grid_20 contact">
        <div class="prefix_2 grid_8 personal">
            <h4>
                <span class="big">Kontakt</span>
                &nbsp;&nbsp;&nbsp;
                {*<span class="small">na Hanu</span>*}
            </h4>

            {*<span class="title">MGR.</span>&nbsp;*}
            <span class="name">{$profile->firstname} {$profile->lastname}</span>
            <span class="title">, {$profile->position|firstUpper}</span>

            <br>

            {ifset $profile->mobile}
            <span class="contact-name">tel.:</span>
            <span class="contact-item">+420 <strong>{$profile->mobile}</strong></span>

            <br>
            {/ifset}

            {ifset $profile->email}
            <span class="contact-name">email:</span>
            <span class="contact-item"><a href="mailto:{$profile->email}">{$profile->email}</a></span>

            <br>
            {/ifset}

            <h5>Adresa pobočky:</h5>
            <span class="address">
                {foreach $address as $line}
                    {$line}<br>
                {/foreach}
            </span>

            <br>

            <div class="social">
                {*<a href="#"><img src="{$basePath}/static/img/facebook.png" title="Facebook"></a>
                <a href="#"><img src="{$basePath}/static/img/twitter.png" title="Twitter"></a>
                <a href="#"><img src="{$basePath}/static/img/linked-in.png" title="Linkedin"></a>*}
            </div>
        </div>
        <div class="grid_7 {if $profile->higher}higher text-center{else}office{/if}">
            {if $profile->higher}
                <h4>
                    <span class="big">Můj nadřízený</span>
                </h4>

                <a n:href="Profil:default, $profile->higher->slug">
                    {if $profile->higher->photo}
                        <img src="{$basePath}/static/img/photos/thumbnail/{$profile->higher->photo}" width="120" height="120" class="portrait rounded">
                    {else}
                        <img src="{$basePath}/static/img/anonymous.jpg" width="120" height="120" class="portrait rounded">
                    {/if}

                    <h5>{$profile->higher->firstname} {$profile->higher->lastname}</h5><br>
                    <span class="position">{$profile->higher->rank->name}</span>
                </a>
            {else}
                <h4>
                    <span class="big">Kontakt</span>
                    <span class="small">na centrálu:</span>
                </h4>

                <span class="number">+420 <strong>800 100 777</strong></span>

                <h5>Adresa centrály:</h5>
                    <span class="address">
                    ČSOB Pojišťovna<br>
                    Masarykovo náměstí 1458<br>
                    532 18 Pardubice
                    </span>
                <br>

                <a class="block" n:href="Kontakt:default">Seznam POBOČEK</a>
            {/if}
        </div>
    </div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">S čím vám</span>&nbsp;&nbsp;
        <span class="big">mohu pomoci?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>