{block content}

<div class="container">
    <div class="grid_20">
        <ul class="links">
            <li><a class="back" n:href="Homepage:default"></a>
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>

<h1 class="hidden">Naše pobočky</h1>

<div class="container slider">
    <div class="prefix_1 grid_18">
        <div class="relative">
            <ul class="cities level0">
                <li class="active">
                    <a href="javascript:;">Regionální ředitelství</a>
                </li>
                <li data-target="pobocky">
                    <a href="javascript:;">Pobočky</a>
                </li>
            </ul>

            <div data-child="pobocky" class="hidden">
                <div id="topLine" class="line"></div>

                <ul class="cities level1">
                    <li class="praha2 active" data-town="praha2">
                        <a href="javascript:;">Praha 2</a>
                    </li>
                    <li class="praha4" data-town="praha4">
                        <a href="javascript:;">Praha 4</a>
                    </li>
                    <li class="praha5" data-town="praha5">
                        <a href="javascript:;">Praha 5</a>
                    </li>
                    <li class="vlasim" data-town="vlasim">
                        <a href="javascript:;">Vlašim</a>
                    </li>
                    <li class="benesov" data-town="benesov">
                        <a href="javascript:;">Benešov</a>
                    </li>
                    <li class="kladno" data-town="kladno">
                        <a href="javascript:;">Kladno</a>
                    </li>
                    <li class="slany" data-town="slany">
                        <a href="javascript:;">Slaný</a>
                    </li>
                </ul>

                <div id="middleLine" class="line"></div>

                <ul class="cities level2 active" data-parent="praha2">
                    <li class="active" data-street="stepanska"><a href="javascript:;">Štěpánská</a></li>
                </ul>

                <ul class="cities level2" data-parent="praha4">
                    <li class="active" data-street="rostislavova"><a href="javascript:;">Rostislavova</a></li>
                    <li data-street="antala-staska"><a href="javascript:;">Antala Staška</a></li>
                </ul>

                <ul class="cities level2" data-parent="praha5">
                    <li class="active" data-street="preslova"><a href="javascript:;">Preslova</a></li>
                    <li data-street="radlicka"><a href="javascript:;">Radlická</a></li>
                    <li data-street="archeologicka"><a href="javascript:;">Archeologická</a></li>
                </ul>

                <ul class="cities level2" data-parent="vlasim">
                    <li class="active" data-street="jana-masaryka"><a href="javascript:;">Jana Masaryka</a></li>
                    <li data-street="lidicka"><a href="javascript:;">Lidická</a></li>
                </ul>

                <ul class="cities level2" data-parent="benesov">
                    <li class="active" data-street="tyrsova-2071"><a href="javascript:;">Tyršova 2071</a></li>
                    <li data-street="tyrsova-182"><a href="javascript:;">Tyršova 182</a></li>
                </ul>

                <ul class="cities level2" data-parent="kladno">
                    <li class="active" data-street="namesti-sitna"><a href="javascript:;">Náměstí Sítná</a></li>
                    <li data-street="komenskeho"><a href="javascript:;">Komenského</a></li>
                </ul>

                <ul class="cities level2" data-parent="slany">
                    <li class="active" data-street="wilsonova"><a href="javascript:;">Wilsonova</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div data-child="pobocky" class="hidden">
<div id="praha2" class="town active">
    <div data-street="stepanska">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Praha 2</h2>
                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>721 152 228</strong>, <strong>721 152 228</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
						<span class="address">
							Štěpánská 7<br>
							Praha 2, PSČ 120 00
						</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO - ST 10:00 - 19:00</span><br>
                <span class="address">ÚT - ČT 10:00 - 18:00</span><br>
                <span class="address">PÁ 13:00 - 17:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[1]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/stepanska_1.jpg" data-lightbox="stepanska"><img
                                class="photo" src="{$basePath}/static/img/pobocky/thumb/stepanska_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/stepanska_2.jpg" data-lightbox="stepanska"><img
                                class="photo" src="{$basePath}/static/img/pobocky/thumb/stepanska_2.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="http://goo.gl/maps/03wiu" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-praha2.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="praha4" class="town">
    {*Praha 4*}
    <div data-street="rostislavova">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Praha 4</h2>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>604 706 452</strong>, <strong>602 409 086</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Rostislavova 1383/4<br>
						Praha 4, PSČ 140 00
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO a ST 9:00 - 19:00</span><br>
                <span class="address">ÚT a ČT 8:00 - 17:00</span><br>
                <span class="address">PÁ 9:00 - 15:00</span><br>
                <span class="address">SO 9:00 - 12:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[2]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/rostislavova_1.jpg" data-lightbox="rostislavova"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/rostislavova_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/rostislavova_2.jpg" data-lightbox="rostislavova"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/rostislavova_2.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="http://goo.gl/maps/FYFmr" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-praha4.png">
                </a>
            </div>
        </div>
    </div>

    {*Praha 4 #2*}
    <div data-street="antala-staska" class="hidden">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Praha 4</h2>

                <span class="contact-name">Tel.:</span>
                <span class="contact-item">+420 <strong>241 004 311</strong></span> <br><br>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>604 343 434</strong>, <strong>776 878 988</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Antala Staška 2027/77<br>
						Praha 4, PSČ 140 00
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO - ČT 8:00 - 18:00</span><br>
                <span class="address">PÁ 8:00 - 16:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[3]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/antala_1.jpg" data-lightbox="antala_staska"><img
                                class="photo" src="{$basePath}/static/img/pobocky/thumb/antala_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/antala_2.jpg" data-lightbox="antala_staska"><img
                                class="photo" src="{$basePath}/static/img/pobocky/thumb/antala_2.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/antala_3.jpg" data-lightbox="antala_staska"><img
                                class="photo" src="{$basePath}/static/img/pobocky/thumb/antala_3.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/antala_4.jpg" data-lightbox="antala_staska"><img
                                class="photo" src="{$basePath}/static/img/pobocky/thumb/antala_4.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="https://goo.gl/maps/w6cVj" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-antala.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="praha5" class="town">
    {* PRAHA 5 #1 *}
    <div data-street="preslova">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Praha 5</h2>

                <span class="contact-name">Tel.:</span>
                <span class="contact-item">+420 <strong>257 315 886</strong></span> <br><br>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>739 641 265</strong>, <strong>725 496 786</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Preslova 17<br>
						Praha 5, PSČ 150 00
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO - ČT 8:30 - 17:00</span><br>
                <span class="address">PÁ 8:30 - 15:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[4]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/preslova_2.jpg" data-lightbox="preslova"><img class="photo"
                                                                                                          src="{$basePath}/static/img/pobocky/thumb/preslova_2.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/preslova_1.jpg" data-lightbox="preslova"><img class="photo"
                                                                                                          src="{$basePath}/static/img/pobocky/thumb/preslova_1.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="http://goo.gl/maps/b9As3" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-praha5.png">
                </a>
            </div>
        </div>
    </div>

    {* PRAHA 5 #2 *}
    <div data-street="radlicka" class="hidden">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Praha 5</h2>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>725 496 786</strong>, <strong>776 060 319</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Radlická 333/150<br>
						Praha 5, PSČ 150 57
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO - ČT 9:00 - 18:00</span><br>
                <span class="address">PÁ 9:00 - 16:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[5]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/radlicka_3.jpg" data-lightbox="radlicka"><img class="photo"
                                                                                                          src="{$basePath}/static/img/pobocky/thumb/radlicka_3.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/radlicka_2.jpg" data-lightbox="radlicka"><img class="photo"
                                                                                                          src="{$basePath}/static/img/pobocky/thumb/radlicka_2.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/radlicka_1.jpg" data-lightbox="radlicka"><img class="photo"
                                                                                                          src="{$basePath}/static/img/pobocky/thumb/radlicka_1.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="http://goo.gl/maps/Bjmcn" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-praha5-radlicka.png">
                </a>
            </div>
        </div>
    </div>

    {* PRAHA 5 #3 *}
    <div data-street="archeologicka" class="hidden">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Praha 5
                    <small>OC Lužiny</small>
                </h2>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>725 496 786</strong>, <strong>776 060 319</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Archeologická 2256/1<br>
						Praha 5, PSČ 155 00
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO - NE 9:00 - 21:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[6]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="grid_18">
                <a href="https://goo.gl/maps/wcA8C" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-oc-luziny.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="vlasim" class="town">
    {* Vlašim #1 *}
    <div data-street="jana-masaryka">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Vlašim</h2>

                <span class="contact-name">Tel.:</span>
                <span class="contact-item">+420 <strong>317 846 171</strong></span> <br><br>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>602 615 456</strong>, <strong>728 653 455</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Jana Masaryka 1804<br>
						Vlašim, PSČ 258 01
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO a ST 8:00 - 12:00, 13:00 - 16:30</span><br>
                <span class="address">ÚT a ČT 8:00 - 12:00, 13:00 - 16:00</span><br>
                <span class="address">PÁ 8:00 - 12:00, 13:00 - 15:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[7]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/vlasim_1.jpg" data-lightbox="vlasim"><img class="photo"
                                                                                                      src="{$basePath}/static/img/pobocky/thumb/vlasim_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/vlasim_2.jpg" data-lightbox="vlasim"><img class="photo"
                                                                                                      src="{$basePath}/static/img/pobocky/thumb/vlasim_2.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="http://goo.gl/maps/EBHV5" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-vlasim.png">
                </a>
            </div>
        </div>
    </div>


    {* Vlašim #2 *}
    <div data-street="lidicka" class="hidden">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Vlašim</h2>

                <span class="contact-name">Mobil:</span>
					<span class="contact-item"><strong>606 075 842</strong>, <strong>602 396 681</strong><br>
					<span class="contact-item extended"><strong>731 034 519</strong></span>
					<br>
					<br>
					<span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Lidická 1736<br>
						Vlašim, PSČ 258 01
					</span>
					<br>
					<br>
					<span class="contact-name">Otevírací doba</span><br>
					<span class="address">PO a ST 8:00 - 17:00</span><br>
					<span class="address">ÚT a ČT 8:00 - 16:00</span><br>
					<span class="address">PÁ 8:00 - 15:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[8]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/lidicka_1.jpg" data-lightbox="vlasim_lidicka"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/lidicka_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/lidicka_2.jpg" data-lightbox="vlasim_lidicka"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/lidicka_2.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/lidicka_3.jpg" data-lightbox="vlasim_lidicka"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/lidicka_3.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="https://goo.gl/maps/wiHOs" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-lidicka.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="benesov" class="town">

    {*Benešov #1*}
    <div data-street="tyrsova-2071">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Benešov</h2>

                <span class="contact-name">Tel.:</span>
                <span class="contact-item">+420 <strong>317 726 277</strong></span> <br><br>
                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>606 075 842</strong>, <strong>102 040 085</strong></span>
                <span class="contact-item extended"><strong>728 082 847</strong></span>
                <br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Tyršova 2071<br>
						Benešov, PSČ 256 01
					</span>
                <br>
                <br>

                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO - ST 8:00 - 17:00</span><br>
                <span class="address">ÚT - ČT 8:00 - 16:00</span><br>
                <span class="address">PÁ 8:00 - 15:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[9]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/tyrsova_1.jpg" data-lightbox="tyrsova"><img class="photo"
                                                                                                        src="{$basePath}/static/img/pobocky/thumb/lidicka_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/tyrsova_2.jpg" data-lightbox="tyrsova"><img class="photo"
                                                                                                        src="{$basePath}/static/img/pobocky/thumb/tyrsova_2.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/tyrsova_3.jpg" data-lightbox="tyrsova"><img class="photo"
                                                                                                        src="{$basePath}/static/img/pobocky/thumb/tyrsova_3.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="https://maps.google.cz/maps?q=tyr%C5%A1ova+182,+bene%C5%A1ov&ie=UTF-8&ei=WN1oU6DBLsfJPdn7gaAJ&ved=0CAYQ_AUoAQ"
                   target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-benesov.png">
                </a>
            </div>
        </div>
    </div>

    {*Benešov #2*}
    <div data-street="tyrsova-182" class="hidden">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Benešov</h2>

                <span class="contact-name">Mobil:</span>
					<span class="contact-item">+420 <strong>739 147 701</strong><br>
					<br>
					<span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Tyršova 182<br>
						Benešov, PSČ 256 01
					</span>
					<br>
					<br>

					<span class="contact-name">Otevírací doba</span><br>
					<span class="address">PO 8:00 - 17:00</span><br>
					<span class="address">ÚT 8:00 - 16:00</span><br>
					<span class="address">ST 8:00 - 16:00</span><br>
					<span class="address">ČT 8:00 - 17:00</span><br>
					<span class="address">PÁ 8:00 - 15:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[10]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/tyrsova_1_1.jpg" data-lightbox="tyrsova182"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/tyrsova_1_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/tyrsova_1_2.jpg" data-lightbox="tyrsova182"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/tyrsova_1_2.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="https://goo.gl/maps/V4o8x" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-tyrsova.png">
                </a>
            </div>
        </div>
    </div>

</div>
<div id="kladno" class="town">
    {*Kladno #1*}
    <div data-street="namesti-sitna">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Kladno</h2>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>731 582 108</strong>, <strong>603 269 762</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Náměstí Sítná 3127<br>
						Kladno, PSČ 272 01
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO, ÚT, ČT 8:00 - 15:00</span><br>
                <span class="address">ST 8:00 - 17:00</span><br>
                <span class="address">PÁ 8:00 - 14:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[11]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/sitna_1.jpg" data-lightbox="sitna"><img class="photo"
                                                                                                    src="{$basePath}/static/img/pobocky/thumb/sitna_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/sitna_2.jpg" data-lightbox="sitna"><img class="photo"
                                                                                                    src="{$basePath}/static/img/pobocky/thumb/sitna_2.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="http://goo.gl/maps/H5KAt" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-kladno.png">
                </a>
            </div>
        </div>
    </div>

    {*Kladno #2*}
    <div data-street="komenskeho" class="hidden">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Kladno</h2>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>731 582 108</strong>, <strong>607 087 699</strong></span>
                <br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Komenského 3327/1<br>
						Kladno, PSČ 272 01
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO - PÁ 8:00 - 17:00</span><br>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[12]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
                <ul class="contact">

                    <li>
                        <span class="name no-photo">Petra<br>Maštová</span>
                    </li>
                    <li>
                        <span class="name no-photo">Romana<br>Kanalasová</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/komenskeho_1.jpg" data-lightbox="komenskeho_kladno"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/komenskeho_1.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/komenskeho_2.jpg" data-lightbox="komenskeho_kladno"><img
                                class="photo"
                                src="{$basePath}/static/img/pobocky/thumb/komenskeho_2.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="https://goo.gl/maps/TrOj1" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-komenskeho.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="slany" class="town">
    <div data-street="wilsonova">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Slaný</h2>
                <span class="contact-name">Mobil:</span>
                <span class="contact-item">+420 <strong>777 251 050</strong></span>
                <br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Wilsonova 599<br>
						Slaný, PSČ 274 01
					</span>
                <br>
                <br>
                <span class="contact-name">Otevírací doba</span><br>
                <span class="address">PO, ÚT, ST 8:00 - 12:00, 13:00 - 17:00</span><br>
                <span class="address">ČT 8:00 - 12:00, 13:00 - 16:00</span><br>
                <span class="address">PÁ 8:00 - 12:00, 14:00 - 16:00</span>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[13]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="prefix_1 grid_18 suffix_1 gallery">
                <div class="prefix_0">
                    <h3>Fotogalerie:</h3>
                    <a href="{$basePath}/static/img/pobocky/slany_2.jpg" data-lightbox="slany"><img class="photo"
                                                                                                    src="{$basePath}/static/img/pobocky/thumb/slany_2.jpg"></a>
                    <a href="{$basePath}/static/img/pobocky/slany_1.jpg" data-lightbox="slany"><img class="photo"
                                                                                                    src="{$basePath}/static/img/pobocky/thumb/slany_1.jpg"></a>
                </div>
            </div>

            <div class="grid_18">
                <a href="http://goo.gl/maps/EiNh9" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-slany.png">
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<div data-child="reditelstvi">
    <div class="town active">
        <div class="prefix_1 grid_18 suffix_1 contact-box">
            <div class="prefix_0 grid_6 divider">
                <h2>Praha 4</h2>

                <span class="contact-name">Tel.:</span>
                <span class="contact-item">+420 <strong>241 004 311</strong></span> <br><br>

                <span class="contact-name">Mobil:</span>
                <span class="contact-item"><strong>604 343 434</strong></span><br>
                <br>
                <span class="contact-name">Adresa pobočky:</span><br>
					<span class="address">
						Antala Staška 2027/77<br>
						Praha 4, PSČ 140 00
					</span>
            </div>
            <div class="grid_10 persons">
                <h3>Kontaktní osoby:</h3>
                <ul class="contact">
                    <li n:foreach="$offices[14]['employees'] as $office">
                        {control person, id => $office->id}
                    </li>
                </ul>
            </div>
        </div>
        <div class="container more">
            <div class="grid_18">
                <a href="https://goo.gl/maps/w6cVj" target="_blank">
                    <img class="map" src="{$basePath}/static/img/map-antala.png">
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container footer">
    <div class="grid_20 need-help">
        <span class="small">Co vás ještě</span>&nbsp;&nbsp;
        <span class="big">zajímá?</span>
    </div>
    <div class="prefix_1 grid_20">
        <ul class="links">
            <li><a n:href="Kontakt:default">Chci kontakt</a></li>
            <li><a n:href="ProcMy:default">Chci vědět proč se pojistit u vás</a></li>
            <li><a n:href="ONas:default">Chci vědět více o čsob poj.</a></li>
            <li><a n:href="Produkty:default">Chci info o produktech</a></li>
        </ul>
    </div>
</div>
